# Importing libraries and Reading Data

In [ ]:
pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.11/dist-packages (18.1.0)

In [ ]:
import pandas as pd
import numpy as np


import time
from sklearn.ensemble import GradientBoostingRegressor

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import missingno as msno
from tabulate import tabulate

# Check if the data is normally distributed
from scipy.stats import shapiro, boxcox
from sklearn.preprocessing import PowerTransformer
import statsmodels.api as sm

# Preprocessing
from sklearn.preprocessing import RobustScaler, MinMaxScaler, StandardScaler, MultiLabelBinarizer, LabelEncoder
import re
import uuid

# bronze layer

In [ ]:
df = pd.read_csv('Property_uncleaned.csv')

In [ ]:
df.shape

(4525, 11)

####  11 columns , but   there some numerical columns as obj

In [ ]:
df.head().style.background_gradient('Blues')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4525 entries, 0 to 4524
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   4525 non-null   object
 1   areaWithType    4525 non-null   object
 2   square_feet     4525 non-null   object
 3   transaction     4421 non-null   object
 4   status          4524 non-null   object
 5   floor           4480 non-null   object
 6   furnishing      4185 non-null   object
 7   facing          3936 non-null   object
 8   description     3154 non-null   object
 9   price_per_sqft  4157 non-null   object
 10  price           4525 non-null   object
dtypes: object(11)
memory usage: 389.0+ KB

In [ ]:
df.isnull().sum()

property_name        0
areaWithType         0
square_feet          0
transaction        104
status               1
floor               45
furnishing         340
facing             589
description       1371
price_per_sqft     368
price                0
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(109)

In [ ]:
# df.drop_duplicates(inplace=True)

we have 109 duplicate rows and dropped them

In [ ]:
duplicate_rows = df[df.duplicated()]
duplicate_rows

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
1511,2 BHK Apartment for Sale in NavYug College Surat,Carpet Area,1650 sqft,Resale,Ready to Move,7 out of 10,Unfurnished,East,"Presenting an exceptional 2 BHK flat for sale,...","₹3,125 per sqft",₹50 Lac
1512,2 BHK Apartment for Sale in Adajan Surat,Super Area,847 sqft,Resale,Ready to Move,1 out of 13,Furnished,East,"2 BHK, Multistorey Apartment is available for ...","₹5,903 per sqft",₹50 Lac
1535,2 BHK Apartment for Sale in Palanpur Surat,Super Area,1326 sqft,Resale,Ready to Move,9 out of 14,Unfurnished,East,2 BHK 3 BHK apartments at palanpur. with all...,"₹3,771 per sqft",₹50 Lac
1566,2 BHK Builder Floor for Sale in Nana Varachha ...,Super Area,1267 sqft,Resale,Ready to Move,2 out of 4,Furnished,North - West,"2 BHK, Builder Floor Apartment is available fo...","₹3,946 per sqft",₹50 Lac
1571,2 BHK Apartment for Sale in Kamrej Road Surat,Carpet Area,783 sqft,Resale,Ready to Move,5 out of 5,Unfurnished,North - East,Multistorey apartment is available for sale. I...,NaN,₹50 Lac
...,...,...,...,...,...,...,...,...,...,...,...
3870,4 BHK Builder Floor for Sale in New citylight ...,Carpet Area,2800 sqft,Furnished,2 out of 12,New Property,North - West,Main Road,"Flat fully furnished, with 4 bedrooms, all lux...",NaN,Call for Price
3903,5 BHK House for Sale in Jahangir Pura Surat,Carpet Area,3400 sqft,Semi-Furnished,Ready to Move,Resale,North - East,Main Road,new property,"₹15,152 per sqft",₹1.50 Cr
4152,3 BHK Apartment for Sale in Vesu Surat,Super Area,2500 sqft,New Property,Poss. by Mar '25,7 out of 13,Unfurnished,South -West,3 BHK Flat For Sell In Vesu Prime Area With Al...,"₹6,000 per sqft",₹1.50 Cr
4273,"3 BHK Apartment for Sale in Sky Superia, VIP R...",Super Area,2400 sqft,New Property,Ready to Move,10 out of 19,Unfurnished,East,There are apartments for sale in Sky Superia. ...,"₹6,250 per sqft",₹1.50 Cr
4361,"4 BHK House for Sale in Someshwara Enclave, V...",Carpet Area,2000 sqft,Unfurnished,Ready to Move,Resale,East,"Garden/Park, Main Road",Double Decker,"₹15,873 per sqft",₹1.50 Cr

duplicates seems to be not duplicates just different appartments

In [ ]:
df.nunique()

property_name     1992
areaWithType         6
square_feet       1399
transaction         38
status             138
floor              222
furnishing          78
facing             176
description       2588
price_per_sqft    2134
price              841
dtype: int64

* Categorical Columns:

areaWithType (6), transaction (38), status (138), floor (222), furnishing (78), facing (176)

* Missing Data Present In:

transaction, status, floor, furnishing, facing, description, price_per_sqft

In [ ]:
df.dtypes

property_name     object
areaWithType      object
square_feet       object
transaction       object
status            object
floor             object
furnishing        object
facing            object
description       object
price_per_sqft    object
price             object
dtype: object

In [ ]:
df.isnull().sum()

property_name        0
areaWithType         0
square_feet          0
transaction        104
status               1
floor               45
furnishing         340
facing             589
description       1371
price_per_sqft     368
price                0
dtype: int64

Will extract numbers from price and price_per_sqft

Normalize square_feet to int

Split floor into current floor / total floors

Flag rows with missing essential features for later review

first will save bronze layer

In [ ]:
df.to_parquet("bronze_layer_real_estate.parquet", index=False)

#silver layer

## areaWithType column

In [ ]:
unique_area_types = df['areaWithType'].unique()
print(unique_area_types)

['Carpet Area' 'Super Area' 'Plot Area' 'Built Area' 'Transaction'
 'Status']

In [ ]:
area_type_counts = df['areaWithType'].value_counts()

print("\nCount of each unique value in ")
print(area_type_counts)

Count of each unique value in
areaWithType
Super Area     2599
Carpet Area    1671
Plot Area       214
Built Area       35
Status            4
Transaction       2
Name: count, dtype: int64

will inspect Status and Transaction as they seems outliers

In [ ]:
df[df['areaWithType'] == 'Transaction']

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
324,1 BHK House for Sale in Jolva Surat,Transaction,Resale,NaN,2,1,NaN,NaN,NaN,NaN,₹12 Lac
950,House for Sale in Kamrej Surat,Transaction,Resale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,₹24 Lac

will investigate if there's any specific meaning to the rows with "Transaction" in areaWithType and handle them accordingly

In [ ]:
df[df['areaWithType'] == 'Status']

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
368,Office Space for Sale in Lal Gate Surat,Status,Ready to Move,1,3 out of 5,Resale,NaN,NaN,NaN,NaN,₹30 Lac
471,1 BHK Apartment for Sale in Morabhagal Surat,Status,Ready to Move,Unfurnished,13 out of 14,Resale,1,NaN,NaN,NaN,₹15 Lac
631,2 BHK Apartment for Sale in kanakpur kansad Surat,Status,Ready to Move,Unfurnished,Ground out of 10,Resale,East,Garden/Park,Urgently SellingGood Condition Ground Floor Ga...,NaN,₹22 Lac
846,2 BHK Apartment for Sale in Majura Gate Surat,Status,Ready to Move,Furnished,4 out of 5,Resale,2,2,This spacious Multistorey Apartment is locate...,NaN,₹30 Lac

In [ ]:
valid_values = ['Carpet Area', 'Super Area']
df['areaWithType'] = df['areaWithType'].apply(lambda x: x if x in valid_values else np.nan)

In [ ]:
print("\nUnique values after replacement:")
print(df['areaWithType'].unique())

Unique values after replacement:
['Carpet Area' 'Super Area' nan]

## price

In [ ]:
df[["price"]]

               price
0         ₹33.8 Lac
1         ₹45.4 Lac
2         ₹44.6 Lac
3           ₹47 Lac
4           ₹45 Lac
...              ...
4520  Call for Price
4521  Call for Price
4522  Call for Price
4523  Call for Price
4524  Call for Price

[4525 rows x 1 columns]

In [ ]:
call_for_price_rows = df[df['price'] == 'Call for Price']

# Show the result
call_for_price_rows

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
1014,2 BHK Apartment for Sale in Chauta Bazar Surat,Carpet Area,1100 sqft,Resale,Ready to Move,5 out of 5,Semi-Furnished,North,Welcome to an exceptional opportunity in Chaut...,NaN,Call for Price
1015,1 BHK Apartment for Sale in Vesu Surat,Carpet Area,366 sqft,Resale,Ready to Move,2 out of 8,Unfurnished,Co-operative Society,NaN,NaN,Call for Price
1016,2 BHK Apartment for Sale in Nanpura Surat,Carpet Area,820 sqft,Resale,Ready to Move,4 out of 9,Furnished,West,"2 front side balcony west side view,main road ...",NaN,Call for Price
1017,2 BHK Apartment for Sale in Amroli Surat,Super Area,760 sqft,Resale,Ready to Move,1 out of 1,Unfurnished,East,Iron Grills Safety Provided to all windows and...,NaN,Call for Price
1018,2 BHK Apartment for Sale in Gopi Pura Surat,Carpet Area,1000 sqft,Resale,Ready to Move,2 out of 3,Semi-Furnished,1,NaN,NaN,Call for Price
...,...,...,...,...,...,...,...,...,...,...,...
4520,6 BHK Apartment for Sale in Millionaires Lifes...,Carpet Area,2000 sqft,New Property,Poss. by Dec '26,5 out of 12,Unfurnished,South - East,"Check out Millionaires Lifestyle in Vesu, one ...",NaN,Call for Price
4521,"4 BHK Apartment for Sale in Savan Superia, Alt...",Super Area,3600 sqft,New Property,Poss. by Dec '25,5 out of 16,Unfurnished,South - East,Superia is a premium residential project launc...,NaN,Call for Price
4522,5 BHK Apartment for Sale in Roongta Green Vall...,Carpet Area,2250 sqft,New Property,Poss. by Dec '25,7 out of 13,Unfurnished,North - East,"When it comes to beautiful homes, nothing beat...",NaN,Call for Price
4523,"6 BHK Apartment for Sale in Cellestial Dreams,...",Carpet Area,3450 sqft,New Property,Ready to Move,7 out of 18,Unfurnished,North - West,"DRB Ravani Cellestial Dreams in Vesu, Surat is...",NaN,Call for Price
4524,4 BHK Apartment for Sale in Roongta Green Vall...,Super Area,4500 sqft,New Property,Ready to Move,3 out of 12,Unfurnished,North,Roongta Green Valley is one of the popular res...,NaN,Call for Price

In [ ]:
# some people didint give the price neither price_per_sqft will be 0

In [ ]:
df["price"].unique()

array(['₹33.8 Lac ', '₹45.4 Lac ', '₹44.6 Lac ', '₹47 Lac ', '₹45 Lac ',
       '₹43.2 Lac ', '₹42.1 Lac ', '₹44.1 Lac ', '₹44.3 Lac ', '₹40 Lac ',
       '₹44 Lac ', '₹12.5 Lac ', '₹50 Lac ', '₹35.8 Lac ', '₹26.5 Lac ',
       '₹42 Lac ', '₹43 Lac ', '₹20 Lac ', '₹37 Lac ', '₹29 Lac ',
       '₹38 Lac ', '₹13 Lac ', '₹46.5 Lac ', '₹41.6 Lac ', '₹33.5 Lac ',
       '₹42.5 Lac ', '₹48 Lac ', '₹32 Lac ', '₹35 Lac ', '₹46.2 Lac ',
       '₹38.5 Lac ', '₹23 Lac ', '₹24 Lac ', '₹28 Lac ', '₹35.7 Lac ',
       '₹36.5 Lac ', '₹36 Lac ', '₹43.6 Lac ', '₹25 Lac ', '₹41 Lac ',
       '₹28.5 Lac ', '₹9 Lac ', '₹30 Lac ', '₹39.5 Lac ', '₹21.5 Lac ',
       '₹10.5 Lac ', '₹18 Lac ', '₹10 Lac ', '₹23.5 Lac ', '₹16.3 Lac ',
       '₹13.5 Lac ', '₹49 Lac ', '₹21 Lac ', '₹39 Lac ', '₹16 Lac ',
       '₹27 Lac ', '₹15 Lac ', '₹39.9 Lac ', '₹7.5 Lac ', '₹12.8 Lac ',
       '₹9.5 Lac ', '₹31.5 Lac ', '₹46 Lac ', '₹6 Lac ', '₹34 Lac ',
       '₹22 Lac ', '₹19 Lac ', '₹8.5 Lac ', '₹11 Lac ', '₹16.5 Lac ',
       '₹17 Lac ', '₹14 Lac ', '₹33 Lac ', '₹20.5 Lac ', '₹21.7 Lac ',
       '₹27.5 Lac ', '₹12 Lac ', '₹26 Lac ', '₹7.7 Lac ', '₹44.8 Lac ',
       '₹34.9 Lac ', '₹19.5 Lac ', '₹18.5 Lac ', '₹48.5 Lac ',
       '₹49.9 Lac ', '₹26.7 Lac ', '₹18.2 Lac ', '₹24.5 Lac ',
       '₹46.1 Lac ', '₹14.2 Lac ', '₹47.5 Lac ', '₹9.3 Lac ', '₹5 Lac ',
       '₹8.9 Lac ', '₹14.5 Lac ', '₹37.6 Lac ', '₹25.5 Lac ',
       '₹29.5 Lac ', '₹1.5 Lac ', '₹26.8 Lac ', '₹31 Lac ', '₹22.5 Lac ',
       '₹24.9 Lac ', '₹40.4 Lac ', '₹15.3 Lac ', '₹7 Lac ', '₹32.5 Lac ',
       '₹1 Lac ', '₹43.8 Lac ', '₹14.4 Lac ', '₹10.3 Lac ', '₹40.5 Lac ',
       '₹34.8 Lac ', '₹39.8 Lac ', '₹25.8 Lac ', '₹3.5 Lac ',
       '₹21.3 Lac ', '₹8 Lac ', '₹38.1 Lac ', '₹15.5 Lac ', '₹25.1 Lac ',
       '₹37.9 Lac ', '₹29.1 Lac ', '₹1.3 Lac ', '₹18.4 Lac ',
       '₹14.1 Lac ', '₹29.9 Lac ', '₹45.2 Lac ', '₹37.5 Lac ',
       '₹32.7 Lac ', '₹17.5 Lac ', '₹48.8 Lac ', '₹23.2 Lac ',
       '₹4.5 Lac ', '₹25.2 Lac ', '₹27.2 Lac ', 'Call for Price',
       '₹39.7 Lac ', '₹43.7 Lac ', '₹49.5 Lac ', '₹2 Lac ', '₹46.9 Lac ',
       '₹19.8 Lac ', '₹26.9 Lac ', '₹21.6 Lac ', '₹33.9 Lac ',
       '₹34.7 Lac ', '₹44.5 Lac ', '₹41.3 Lac ', '₹48.6 Lac ',
       '₹45.5 Lac ', '₹49.3 Lac ', '₹43.1 Lac ', '₹46.4 Lac ',
       '₹42.2 Lac ', '₹34.5 Lac ', '₹28.2 Lac ', '₹42.8 Lac ',
       '₹45.3 Lac ', '₹34.4 Lac ', '₹30.5 Lac ', '₹44.2 Lac ',
       '₹48.2 Lac ', '₹49.7 Lac ', '₹47.8 Lac ', '₹34.6 Lac ',
       '₹49.1 Lac ', '₹35.3 Lac ', '₹45.1 Lac ', '₹41.5 Lac ',
       '₹26.4 Lac ', '₹37.2 Lac ', '₹46.3 Lac ', '₹30.4 Lac ',
       '₹47.1 Lac ', '₹41.7 Lac ', '₹33.4 Lac ', '₹40.7 Lac ',
       '₹36.8 Lac ', '₹42.7 Lac ', '₹30.6 Lac ', '₹43.4 Lac ',
       '₹38.7 Lac ', '₹33.2 Lac ', '₹34.3 Lac ', '₹39.2 Lac ',
       '₹43.9 Lac ', '₹35.2 Lac ', '₹31.6 Lac ', '₹41.1 Lac ',
       '₹44.9 Lac ', '₹25.9 Lac ', '₹42.3 Lac ', '₹25.3 Lac ',
       '₹36.1 Lac ', '₹25.7 Lac ', '₹45.6 Lac ', '₹35.1 Lac ',
       '₹36.4 Lac ', '₹42.4 Lac ', '₹46.7 Lac ', '₹20.1 Lac ',
       '₹34.1 Lac ', '₹16.4 Lac ', '₹43.5 Lac ', '₹19.9 Lac ',
       '₹38.2 Lac ', '₹35.5 Lac ', '₹67.7 Lac ', '₹55.6 Lac ', '₹98 Lac ',
       '₹62.2 Lac ', '₹69.4 Lac ', '₹70 Lac ', '₹56.5 Lac ', '₹57.4 Lac ',
       '₹92.9 Lac ', '₹57.1 Lac ', '₹55.7 Lac ', '₹79.1 Lac ',
       '₹65.2 Lac ', '₹80.5 Lac ', '₹90 Lac ', '₹75 Lac ', '₹52 Lac ',
       '₹75.4 Lac ', '₹74.5 Lac ', '₹69.3 Lac ', '₹60 Lac ', '₹67.5 Lac ',
       '₹51.5 Lac ', '₹67.4 Lac ', '₹55 Lac ', '₹50.3 Lac ', '₹66.3 Lac ',
       '₹80 Lac ', '₹1 Cr ', '₹50.6 Lac ', '₹61 Lac ', '₹51 Lac ',
       '₹50.8 Lac ', '₹79 Lac ', '₹91 Lac ', '₹84.5 Lac ', '₹54 Lac ',
       '₹53.2 Lac ', '₹52.4 Lac ', '₹72 Lac ', '₹99 Lac ', '₹56 Lac ',
       '₹85 Lac ', '₹83.1 Lac ', '₹51.9 Lac ', '₹57 Lac ', '₹81 Lac ',
       '₹74 Lac ', '₹78.5 Lac ', '₹65 Lac ', '₹66.1 Lac ', '₹68 Lac ',
       '₹58 Lac ', '₹86 Lac ', '₹53.5 Lac ', '₹83 Lac ', '₹82 Lac ',
       '₹95 Lac ', '₹78 Lac ', '₹72.5 Lac ', '₹66.6 Lac ', '₹51.7 Lac ',
       '₹90.7 Lac ', '₹84 Lac ', '₹75.5 Lac ', '₹63 Lac ', '₹53 Lac ',
       '₹91.8 Lac ', '₹58.5 Lac ', '₹55.5 Lac ', '₹77 Lac ', '₹88 Lac ',
       '₹62 Lac ', '₹97 Lac ', '₹63.8 Lac ', '₹97.4 Lac ', '₹92 Lac ',
       '₹67 Lac ', '₹71 Lac ', '₹87 Lac ', '₹78.7 Lac ', '₹50.1 Lac ',
       '₹50.4 Lac ', '₹68.3 Lac ', '₹99.5 Lac ', '₹76 Lac ', '₹59.5 Lac ',
       '₹96 Lac ', '₹99.8 Lac ', '₹56.8 Lac ', '₹79.4 Lac ', '₹93 Lac ',
       '₹89 Lac ', '₹54.5 Lac ', '₹96.5 Lac ', '₹85.4 Lac ', '₹79.2 Lac ',
       '₹94 Lac ', '₹58.2 Lac ', '₹59.9 Lac ', '₹61.6 Lac ', '₹60.5 Lac ',
       '₹82.5 Lac ', '₹75.7 Lac ', '₹56.2 Lac ', '₹99.6 Lac ',
       '₹58.8 Lac ', '₹59.2 Lac ', '₹74.4 Lac ', '₹56.1 Lac ',
       '₹86.7 Lac ', '₹53.1 Lac ', '₹90.8 Lac ', '₹50.5 Lac ',
       '₹75.3 Lac ', '₹59 Lac ', '₹58.4 Lac ', '₹85.1 Lac ', '₹79.9 Lac ',
       '₹68.2 Lac ', '₹51.8 Lac ', '₹64.4 Lac ', '₹64 Lac ', '₹56.4 Lac ',
       '₹76.2 Lac ', '₹100 Lac ', '₹88.5 Lac ', '₹98.1 Lac ',
       '₹76.6 Lac ', '₹87.4 Lac ', '₹71.5 Lac ', '₹84.7 Lac ',
       '₹60.2 Lac ', '₹64.6 Lac ', '₹80.3 Lac ', '₹89.7 Lac ', '₹66 Lac ',
       '₹67.3 Lac ', '₹76.4 Lac ', '₹73 Lac ', '₹77.8 Lac ', '₹76.8 Lac ',
       '₹86.5 Lac ', '₹62.8 Lac ', '₹94.3 Lac ', '₹94.8 Lac ',
       '₹71.9 Lac ', '₹72.1 Lac ', '₹84.8 Lac ', '₹95.2 Lac ',
       '₹63.5 Lac ', '₹98.3 Lac ', '₹65.6 Lac ', '₹52.5 Lac ',
       '₹62.5 Lac ', '₹65.8 Lac ', '₹50.9 Lac ', '₹74.9 Lac ',
       '₹79.3 Lac ', '₹85.5 Lac ', '₹65.4 Lac ', '₹75.9 Lac ',
       '₹55.3 Lac ', '₹70.6 Lac ', '₹93.5 Lac ', '₹60.9 Lac ',
       '₹91.5 Lac ', '₹59.4 Lac ', '₹86.1 Lac ', '₹61.7 Lac ',
       '₹89.8 Lac ', '₹88.6 Lac ', '₹67.8 Lac ', '₹64.7 Lac ',
       '₹90.5 Lac ', '₹67.9 Lac ', '₹51.6 Lac ', '₹77.1 Lac ',
       '₹62.4 Lac ', '₹74.1 Lac ', '₹58.1 Lac ', '₹58.7 Lac ', '₹69 Lac ',
       '₹93.6 Lac ', '₹57.5 Lac ', '₹82.9 Lac ', '₹83.5 Lac ',
       '₹79.7 Lac ', '₹90.4 Lac ', '₹70.3 Lac ', '₹54.6 Lac ',
       '₹56.7 Lac ', '₹95.5 Lac ', '₹52.6 Lac ', '₹76.5 Lac ',
       '₹69.6 Lac ', '₹81.6 Lac ', '₹94.5 Lac ', '₹73.1 Lac ',
       '₹71.7 Lac ', '₹75.1 Lac ', '₹55.4 Lac ', '₹88.9 Lac ',
       '₹88.8 Lac ', '₹77.5 Lac ', '₹59.7 Lac ', '₹89.4 Lac ',
       '₹59.8 Lac ', '₹63.7 Lac ', '₹82.1 Lac ', '₹61.9 Lac ',
       '₹92.4 Lac ', '₹73.9 Lac ', '₹51.1 Lac ', '₹61.5 Lac ',
       '₹65.9 Lac ', '₹70.4 Lac ', '₹56.6 Lac ', '₹62.9 Lac ',
       '₹83.8 Lac ', '₹92.8 Lac ', '₹84.6 Lac ', '₹59.1 Lac ',
       '₹78.2 Lac ', '₹64.2 Lac ', '₹69.2 Lac ', '₹94.7 Lac ',
       '₹58.3 Lac ', '₹70.7 Lac ', '₹97.6 Lac ', '₹75.8 Lac ',
       '₹51.2 Lac ', '₹86.9 Lac ', '₹68.4 Lac ', '₹72.8 Lac ',
       '₹57.2 Lac ', '₹90.6 Lac ', '₹65.5 Lac ', '₹80.8 Lac ',
       '₹62.1 Lac ', '₹69.5 Lac ', '₹92.5 Lac ', '₹62.3 Lac ',
       '₹82.8 Lac ', '₹60.8 Lac ', '₹71.1 Lac ', '₹64.3 Lac ',
       '₹86.3 Lac ', '₹60.4 Lac ', '₹79.8 Lac ', '₹52.8 Lac ',
       '₹61.2 Lac ', '₹60.3 Lac ', '₹77.7 Lac ', '₹53.6 Lac ',
       '₹70.8 Lac ', '₹88.1 Lac ', '₹68.9 Lac ', '₹72.4 Lac ',
       '₹85.6 Lac ', '₹72.6 Lac ', '₹97.7 Lac ', '₹52.7 Lac ',
       '₹84.9 Lac ', '₹98.6 Lac ', '₹78.9 Lac ', '₹72.2 Lac ',
       '₹98.4 Lac ', '₹62.6 Lac ', '₹55.1 Lac ', '₹52.1 Lac ',
       '₹99.9 Lac ', '₹76.3 Lac ', '₹95.6 Lac ', '₹65.1 Lac ',
       '₹81.4 Lac ', '₹74.2 Lac ', '₹65.3 Lac ', '₹92.3 Lac ',
       '₹60.6 Lac ', '₹76.9 Lac ', '₹78.1 Lac ', '₹51.3 Lac ',
       '₹63.3 Lac ', '₹54.2 Lac ', '₹97.5 Lac ', '₹99.3 Lac ',
       '₹54.8 Lac ', '₹73.4 Lac ', '₹64.1 Lac ', '₹63.9 Lac ',
       '₹73.5 Lac ', '₹66.5 Lac ', '₹87.5 Lac ', '₹80.2 Lac ',
       '₹77.3 Lac ', '₹70.2 Lac ', '₹69.7 Lac ', '₹59.6 Lac ',
       '₹83.7 Lac ', '₹71.8 Lac ', '₹65.7 Lac ', '₹78.8 Lac ',
       '₹83.4 Lac ', '₹58.9 Lac ', '₹61.3 Lac ', '₹1.49 Cr ', '₹1.12 Cr ',
       '₹1.26 Cr ', '₹1.32 Cr ', '₹1.50 Cr ', '₹1.35 Cr ', '₹1.10 Cr ',
       '₹1.07 Cr ', '₹1.37 Cr ', '₹1.11 Cr ', '₹1.01 Cr ', '₹1.13 Cr ',
       '₹1.39 Cr ', '₹1.15 Cr ', '₹1.05 Cr ', '₹1.30 Cr ', '₹1.20 Cr ',
       '₹1.48 Cr ', '₹1.03 Cr ', '₹1.33 Cr ', '₹1.42 Cr ', '₹1.18 Cr ',
       '₹1.24 Cr ', '₹1.23 Cr ', '₹1.17 Cr ', '₹1.25 Cr ', '₹1.40 Cr ',
       '₹1.28 Cr ', '₹1.22 Cr ', '₹1.31 Cr ', '₹1.09 Cr ', '₹1.45 Cr ',
       '₹1.36 Cr ', '₹1.19 Cr ', '₹1.21 Cr ', '₹1.44 Cr ', '₹1.14 Cr ',
       '₹1.29 Cr ', '₹1.34 Cr ', '₹1.02 Cr ', '₹1.43 Cr ', '₹1.06 Cr ',
       '₹1.47 Cr ', '₹1.04 Cr ', '₹1.41 Cr ', '₹1.46 Cr ', '₹1.27 Cr ',
       '₹1.08 Cr ', '₹1.16 Cr ', '₹1.38 Cr ', '₹2.30 Cr ', '₹1.54 Cr ',
       '₹2.84 Cr ', '₹2.52 Cr ', '₹2.19 Cr ', '₹7 Cr ', '₹2.80 Cr ',
       '₹3.45 Cr ', '₹1.80 Cr ', '₹1.62 Cr ', '₹2 Cr ', '₹2.25 Cr ',
       '₹7.50 Cr ', '₹1.70 Cr ', '₹10 Cr ', '₹2.47 Cr ', '₹1.60 Cr ',
       '₹1.65 Cr ', '₹3.50 Cr ', '₹2.85 Cr ', '₹3.65 Cr ', '₹12.93 Cr ',
       '₹1.63 Cr ', '₹5.50 Cr ', '₹2.61 Cr ', '₹3.20 Cr ', '₹1.61 Cr ',
       '₹1.72 Cr ', '₹4 Cr ', '₹9 Cr ', '₹5.51 Cr ', '₹5 Cr ',
       '₹1.68 Cr ', '₹3.41 Cr ', '₹2.51 Cr ', '₹1.51 Cr ', '₹2.82 Cr ',
       '₹1.98 Cr ', '₹2.10 Cr ', '₹2.98 Cr ', '₹6 Cr ', '₹3 Cr ',
       '₹3.30 Cr ', '₹6.50 Cr ', '₹2.34 Cr ', '₹2.76 Cr ', '₹3.61 Cr ',
       '₹2.11 Cr ', '₹4.99 Cr ', '₹1.76 Cr ', '₹2.40 Cr ', '₹8.50 Cr ',
       '₹5.25 Cr ', '₹4.10 Cr ', '₹1.89 Cr ', '₹2.50 Cr ', '₹2.83 Cr ',
       '₹2.20 Cr ', '₹3.49 Cr ', '₹3.33 Cr ', '₹18.50 Cr ', '₹2.27 Cr ',
       '₹31.50 Cr ', '₹1.53 Cr ', '₹1.94 Cr ', '₹41 Cr ', '₹2.15 Cr ',
       '₹2.55 Cr ', '₹4.50 Cr ', '₹4.08 Cr ', '₹12.50 Cr ', '₹1.59 Cr ',
       '₹1.55 Cr ', '₹5.18 Cr ', '₹3.51 Cr ', '₹1.81 Cr ', '₹3.80 Cr ',
       '₹534.44 Cr ', '₹3.03 Cr ', '₹6.96 Cr ', '₹1.75 Cr ', '₹3.25 Cr ',
       '₹1.52 Cr ', '₹12 Cr ', '₹3.55 Cr ', '₹2.72 Cr ', '₹1.90 Cr ',
       '₹6.60 Cr ', '₹1.95 Cr ', '₹2.73 Cr ', '₹3.11 Cr ', '₹3.75 Cr ',
       '₹2.17 Cr ', '₹2.32 Cr ', '₹2.69 Cr ', '₹55 Cr ', '₹3.10 Cr ',
       '₹3.31 Cr ', '₹2.60 Cr ', '₹1.58 Cr ', '₹2.75 Cr ', '₹15 Cr ',
       '₹3.60 Cr ', '₹3.12 Cr ', '₹146.33 Cr ', '₹1.71 Cr ', '₹4.35 Cr ',
       '₹2.95 Cr ', '₹20 Cr ', '₹2.70 Cr ', '₹3.70 Cr ', '₹2.26 Cr ',
       '₹14 Cr ', '₹5.04 Cr ', '₹2.46 Cr ', '₹2.43 Cr ', '₹1.86 Cr ',
       '₹2.77 Cr ', '₹4.71 Cr ', '₹4.65 Cr ', '₹1.77 Cr ', '₹2.90 Cr ',
       '₹2.36 Cr ', '₹2.03 Cr ', '₹1.84 Cr ', '₹6.30 Cr ', '₹2.04 Cr ',
       '₹7.20 Cr ', '₹4.03 Cr ', '₹1.73 Cr ', '₹3.08 Cr ', '₹2.92 Cr ',
       '₹3.53 Cr ', '₹3.23 Cr ', '₹1.66 Cr ', '₹4.07 Cr ', '₹6.80 Cr ',
       '₹3.35 Cr ', '₹3.22 Cr ', '₹5.55 Cr ', '₹1.82 Cr ', '₹2.59 Cr ',
       '₹2.07 Cr ', '₹1.88 Cr ', '₹2.56 Cr ', '₹9.22 Cr ', '₹2.88 Cr ',
       '₹2.18 Cr ', '₹1.85 Cr ', '₹3.96 Cr ', '₹3.99 Cr ', '₹2.21 Cr ',
       '₹2.01 Cr ', '₹3.01 Cr ', '₹3.26 Cr ', '₹11.55 Cr ', '₹2.71 Cr ',
       '₹2.66 Cr ', '₹3.63 Cr ', '₹2.28 Cr ', '₹1.91 Cr ', '₹1.56 Cr ',
       '₹1.96 Cr ', '₹3.32 Cr ', '₹7.58 Cr ', '₹4.75 Cr ', '₹1.93 Cr ',
       '₹2.37 Cr ', '₹1.69 Cr ', '₹5.52 Cr ', '₹2.16 Cr ', '₹1.97 Cr ',
       '₹8.79 Cr ', '₹2.62 Cr ', '₹2.39 Cr ', '₹1.99 Cr ', '₹4.31 Cr ',
       '₹1.79 Cr ', '₹10.09 Cr ', '₹5.57 Cr ', '₹4.25 Cr ', '₹3.34 Cr ',
       '₹3.15 Cr ', '₹8.13 Cr ', '₹1.87 Cr ', '₹6.53 Cr ', '₹7.95 Cr ',
       '₹2.33 Cr ', '₹4.30 Cr ', '₹2.48 Cr ', '₹3.19 Cr ', '₹3.74 Cr ',
       '₹4.20 Cr ', '₹4.42 Cr ', '₹1.92 Cr ', '₹3.04 Cr ', '₹4.73 Cr ',
       '₹3.95 Cr ', '₹2.35 Cr ', '₹3.18 Cr ', '₹1.74 Cr ', '₹1.64 Cr ',
       '₹2.81 Cr ', '₹2.58 Cr ', '₹3.39 Cr ', '₹4.60 Cr ', '₹4.72 Cr ',
       '₹4.01 Cr ', '₹1.57 Cr ', '₹8.60 Cr ', '₹6.47 Cr ', '₹3.93 Cr ',
       '₹1.83 Cr ', '₹2.68 Cr ', '₹2.54 Cr ', '₹2.24 Cr ', '₹3.05 Cr ',
       '₹3.48 Cr ', '₹2.99 Cr ', '₹3.97 Cr ', '₹3.40 Cr ', '₹4.23 Cr ',
       '₹6.76 Cr ', '₹3.58 Cr ', '₹8 Cr ', '₹4.80 Cr ', '₹2.05 Cr ',
       '₹2.97 Cr ', '₹4.51 Cr ', '₹3.90 Cr ', '₹3.13 Cr ', '₹3.36 Cr ',
       '₹16.50 Cr ', '₹2.02 Cr ', '₹1.67 Cr ', '₹2.14 Cr ', '₹5.72 Cr ',
       '₹2.79 Cr ', '₹2.13 Cr ', '₹3.02 Cr ', '₹2.57 Cr ', '₹2.08 Cr ',
       '₹7.60 Cr ', '₹4.24 Cr ', '₹5.48 Cr ', '₹2.78 Cr ', '₹2.22 Cr ',
       '₹2.87 Cr ', '₹5.12 Cr ', '₹3.54 Cr ', '₹4.53 Cr ', '₹6.10 Cr ',
       '₹3.76 Cr ', '₹4.16 Cr ', '₹3.92 Cr ', '₹2.41 Cr ', '₹4.38 Cr ',
       '₹5.36 Cr ', '₹5.40 Cr ', '₹7.19 Cr ', '₹3.24 Cr ', '₹4.32 Cr ',
       '₹4.05 Cr ', '₹3.59 Cr ', '₹6.37 Cr ', '₹3.27 Cr ', '₹7.22 Cr ',
       '₹3.21 Cr ', '₹4.14 Cr ', '₹4.41 Cr ', '₹7.65 Cr ', '₹5.20 Cr ',
       '₹4.39 Cr ', '₹4.68 Cr ', '₹4.67 Cr ', '₹5.60 Cr ', '₹6.08 Cr '],
      dtype=object)

In [ ]:
def clean_price(price):
    try:
        price = price.replace('₹', '').strip()

        if 'Crore' in price:
            price = price.replace(' Crore', '').strip()
            return float(price) * 10**7

        elif 'Lac' in price:
            price = price.replace(' Lac', '').strip()
            return float(price) * 10**5

        else:
            return float(price)

    except Exception:
        return 0.0

df['price'] = df['price'].apply(clean_price)

# Show the cleaned data
print(df)

                                          property_name areaWithType  \
0             2 BHK Apartment for Sale in Dindoli Surat  Carpet Area
1              2 BHK Apartment for Sale in Althan Surat   Super Area
2             2 BHK Apartment for Sale in Pal Gam Surat   Super Area
3        2 BHK Apartment for Sale in Jahangirabad Surat  Carpet Area
4     2 BHK Apartment for Sale in Orchid Fantasia, P...   Super Area
...                                                 ...          ...
4520  6 BHK Apartment for Sale in Millionaires Lifes...  Carpet Area
4521  4 BHK Apartment for Sale in Savan Superia, Alt...   Super Area
4522  5 BHK Apartment for Sale in Roongta Green Vall...  Carpet Area
4523  6 BHK Apartment for Sale in Cellestial Dreams,...  Carpet Area
4524  4 BHK Apartment for Sale in Roongta Green Vall...   Super Area

     square_feet      transaction            status        floor  \
0       644 sqft     New Property  Poss. by Oct '24  5 out of 10
1      1278 sqft     New Property  Poss. by Jan '26  6 out of 14
2      1173 sqft           Resale     Ready to Move  5 out of 13
3       700 sqft     New Property     Ready to Move  6 out of 14
4      1250 sqft  Orchid Fantasia      New Property  Unfurnished
...          ...              ...               ...          ...
4520   2000 sqft     New Property  Poss. by Dec '26  5 out of 12
4521   3600 sqft     New Property  Poss. by Dec '25  5 out of 16
4522   2250 sqft     New Property  Poss. by Dec '25  7 out of 13
4523   3450 sqft     New Property     Ready to Move  7 out of 18
4524   4500 sqft     New Property     Ready to Move  3 out of 12

          furnishing        facing  \
0        Unfurnished          West
1        Unfurnished   South -West
2     Semi-Furnished          East
3        Unfurnished          East
4                  2             2
...              ...           ...
4520     Unfurnished  South - East
4521     Unfurnished  South - East
4522     Unfurnished  North - East
4523     Unfurnished  North - West
4524     Unfurnished         North

                                            description    price_per_sqft  \
0     Luxury project with basement parking, Solar ro...  ₹2,891 per sqft
1     2 And 3 BHK Luxurious Flat for Sell In New Alt...  ₹3,551 per sqft
2     This affordable 2 BHK flat is situated along a...  ₹3,800 per sqft
3     2 BHK Flat For sell IN Jahangirabad Prime Loca...  ₹3,966 per sqft
4     Multistorey Apartment for Sale in Palanpur, Su...  ₹3,600 per sqft
...                                                 ...               ...
4520  Check out Millionaires Lifestyle in Vesu, one ...               NaN
4521  Superia is a premium residential project launc...               NaN
4522  When it comes to beautiful homes, nothing beat...               NaN
4523  DRB Ravani Cellestial Dreams in Vesu, Surat is...               NaN
4524  Roongta Green Valley is one of the popular res...               NaN

          price
0     3380000.0
1     4540000.0
2     4460000.0
3     4700000.0
4     4500000.0
...         ...
4520        0.0
4521        0.0
4522        0.0
4523        0.0
4524        0.0

[4525 rows x 11 columns]

In [ ]:
fig = px.histogram(df, x="price", nbins=50,
                   title="Distribution of Property Prices",
                   labels={"price": "Price"})
fig.update_layout(bargap=0.1)
fig.show()

the most frequent price is 250 - 240

## square_feet

In [ ]:
df[["square_feet"]].head()

  square_feet
0    644 sqft
1   1278 sqft
2   1173 sqft
3    700 sqft
4   1250 sqft

In [ ]:
df['square_feet'] = df['square_feet'].str.replace(r'[^\d.]', '', regex=True)

df['square_feet'] = pd.to_numeric(df['square_feet'], errors='coerce')

df['square_feet'] = df['square_feet'].fillna(0).astype('Int64')

df[["square_feet"]].head()

   square_feet
0          644
1         1278
2         1173
3          700
4         1250

In [ ]:
df['square_feet'].unique()

<IntegerArray>
[ 644, 1278, 1173,  700, 1250, 1265, 1404, 1180,  720,  748,
 ...
 2824, 4730, 2881, 3945, 2282, 4580, 2970, 2545, 5175, 2620]
Length: 1346, dtype: Int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4525 entries, 0 to 4524
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   4525 non-null   object
 1   areaWithType    4270 non-null   object
 2   square_feet     4525 non-null   Int64
 3   transaction     4421 non-null   object
 4   status          4524 non-null   object
 5   floor           4480 non-null   object
 6   furnishing      4185 non-null   object
 7   facing          3936 non-null   object
 8   description     3154 non-null   object
 9   price_per_sqft  4157 non-null   object
 10  price           4525 non-null   float64
dtypes: Int64(1), float64(1), object(9)
memory usage: 393.4+ KB

## transaction

In [ ]:
print(df['transaction'].unique())

['New Property' 'Resale' 'Orchid Fantasia' 'Unfurnished' 'Orchid Gardenia'
 'Congo' 'Furnished' nan 'Semi-Furnished' 'Main Road, Garden/Park' '1' '3'
 '4' 'Yes' 'No' 'Mahavir Nagar' '3 Covered' 'Shagun Residency' '2'
 'Main Road' '10 m' 'Other' '1 Covered' 'Soham Elegance' 'Garden/Park'
 'Aakash Echo Point' 'Sundaram Residency' '5' 'Jolly Residency'
 'Mangalam Heights' 'Green City' 'Pool, Garden/Park, Main Road' '6'
 'Co-operative Society' 'Vatsalya Bungalows' '20 Covered,'
 'Raghuvir Silverstone' '8 m' 'Casa Rivera']

In [ ]:
transaction_counts = df['transaction'].value_counts()

print("\nCount of each unique value in ")
print(transaction_counts)

Count of each unique value in
transaction
Resale                          2197
New Property                    1486
Unfurnished                      404
Semi-Furnished                    91
Furnished                         69
2                                 24
3                                 22
No                                20
Congo                             19
1                                 16
Yes                               15
5                                 11
4                                  7
Main Road                          6
Soham Elegance                     3
Orchid Gardenia                    3
6                                  3
Orchid Fantasia                    2
Jolly Residency                    2
Raghuvir Silverstone               2
Casa Rivera                        2
Main Road, Garden/Park             1
1 Covered                          1
Other                              1
10 m                               1
Shagun Residency                   1
Mahavir Nagar                      1
3 Covered                          1
Sundaram Residency                 1
Garden/Park                        1
Green City                         1
Mangalam Heights                   1
Aakash Echo Point                  1
Pool, Garden/Park, Main Road       1
Vatsalya Bungalows                 1
Co-operative Society               1
20 Covered,                        1
8 m                                1
Name: count, dtype: int64

In [ ]:
# Filter rows where 'transaction' is in the specified list and 'furnishing' is not one of the three values
filtered_rows = df[(df['transaction'].isin(['Unfurnished', 'Furnished', 'Semi-Furnished'])) & (~df['furnishing'].isin(['Unfurnished', 'Furnished', 'Semi-Furnished']))]

print(filtered_rows)

                                          property_name areaWithType  \
5     2 BHK Apartment for Sale in Anand Aspire, Jaha...   Super Area
6                 3 BHK Villa for Sale in Dindoli Surat  Carpet Area
22    2 BHK Apartment for Sale in Palan Pur Patiya S...   Super Area
26           2 BHK Apartment for Sale in Palanpur Surat  Carpet Area
28          3 BHK Villa for Sale in Masma Village Surat  Carpet Area
...                                                 ...          ...
4377  4 BHK Apartment for Sale in Bblossom The Presi...   Super Area
4384  4 BHK Apartment for Sale in Bblossom The Presi...   Super Area
4390  4 BHK Apartment for Sale in Bblossom The Presi...   Super Area
4396  4 BHK Apartment for Sale in Bblossom The Presi...   Super Area
4402  4 BHK Apartment for Sale in Bblossom The Presi...   Super Area

      square_feet  transaction            status         floor  \
5            1265  Unfurnished  Poss. by Dec '25  New Property
6            1404  Unfurnished  Poss. by Jun '24  New Property
22           1150  Unfurnished        1 out of 7        Resale
26            650  Unfurnished     Ready to Move  New Property
28           1480  Unfurnished  Poss. by Jul '24  New Property
...           ...          ...               ...           ...
4377         3500  Unfurnished  Poss. by Dec '24  New Property
4384         3676  Unfurnished  Poss. by Dec '24  New Property
4390         3700  Unfurnished  Poss. by Dec '24  New Property
4396         4599  Unfurnished  Poss. by Dec '24  New Property
4402         4600  Unfurnished  Poss. by Dec '24  New Property

                   furnishing     facing  \
5                Anand Aspire          2
6                        East  Main Road
22                          1          1
26                       East  Main Road
28                       East   Freehold
...                       ...        ...
4377  Bblossom The Presidency          4
4384  Bblossom The Presidency          4
4390  Bblossom The Presidency          4
4396  Bblossom The Presidency          4
4402  Bblossom The Presidency          4

                                            description    price_per_sqft  \
5     Multistorey Apartment for Sale in Jahangirabad...  ₹3,411 per sqft
6                                           contraction               NaN
22    Multistorey Apartment is located at the advant...  ₹3,304 per sqft
26    LUXURY NOW AFFORDABLE 2 BHK FLAT.Two Separate ...  ₹4,150 per sqft
28           Main road touch underconstruction project.  ₹2,264 per sqft
...                                                 ...               ...
4377  Multistorey Apartment for Sale in VIP Road, Su...  ₹5,450 per sqft
4384  Multistorey Apartment for Sale in VIP Road, Su...  ₹5,450 per sqft
4390  Multistorey Apartment for Sale in VIP Road, Su...  ₹5,450 per sqft
4396  Multistorey Apartment for Sale in VIP Road, Su...  ₹5,450 per sqft
4402  Multistorey Apartment for Sale in VIP Road, Su...  ₹5,450 per sqft

          price
5     4320000.0
6     4210000.0
22    3800000.0
26    4650000.0
28    3350000.0
...         ...
4377        0.0
4384        0.0
4390        0.0
4396        0.0
4402        0.0

[564 rows x 11 columns]

In [ ]:
# Filter rows where 'transaction' is in the specified list and 'furnishing' is not one of the three values
filtered_rows = df[(df['transaction'].isin(['Unfurnished', 'Furnished', 'Semi-Furnished'])) & (~df['furnishing'].isin(['Unfurnished', 'Furnished', 'Semi-Furnished']))]

# Update the 'furnishing' column with the corresponding 'transaction' value for the filtered rows
df.loc[filtered_rows.index, 'furnishing'] = df.loc[filtered_rows.index, 'transaction']

# Count how many rows in 'furnishing' were filled with values from 'transaction'
filled_count = df.loc[filtered_rows.index, 'furnishing'].notna().sum()

# Print the count
print(filled_count)

564

In [ ]:
filtered_rows = df[(df['transaction'].isin(['Unfurnished', 'Furnished', 'Semi-Furnished'])) & (df['furnishing'] == 'nan')]

print(filtered_rows)

Empty DataFrame
Columns: [property_name, areaWithType, square_feet, transaction, status, floor, furnishing, facing, description, price_per_sqft, price]
Index: []

some wrong data entry , will keep only 'New Property' 'Resale'

In [ ]:
# Filter rows where any column (except 'transaction') contains 'New Property' or 'Resale'
filtered_rows = df[df.drop(columns=['transaction']).apply(lambda row: row.astype(str).str.contains('New Property|Resale', case=False).any(), axis=1)]

# Display the filtered rows
print(filtered_rows)

# Count how many rows match the condition
count = filtered_rows.shape[0]
print(f"Count of rows having 'New Property' or 'Resale' in any column (excluding 'transaction'): {count}")

                                          property_name areaWithType  \
4     2 BHK Apartment for Sale in Orchid Fantasia, P...   Super Area
5     2 BHK Apartment for Sale in Anand Aspire, Jaha...   Super Area
6                 3 BHK Villa for Sale in Dindoli Surat  Carpet Area
8     2 BHK Apartment for Sale in Orchid Gardenia, P...   Super Area
22    2 BHK Apartment for Sale in Palan Pur Patiya S...   Super Area
...                                                 ...          ...
4377  4 BHK Apartment for Sale in Bblossom The Presi...   Super Area
4384  4 BHK Apartment for Sale in Bblossom The Presi...   Super Area
4390  4 BHK Apartment for Sale in Bblossom The Presi...   Super Area
4396  4 BHK Apartment for Sale in Bblossom The Presi...   Super Area
4402  4 BHK Apartment for Sale in Bblossom The Presi...   Super Area

      square_feet      transaction            status         floor  \
4            1250  Orchid Fantasia      New Property   Unfurnished
5            1265      Unfurnished  Poss. by Dec '25  New Property
6            1404      Unfurnished  Poss. by Jun '24  New Property
8            1180  Orchid Gardenia      New Property   Unfurnished
22           1150      Unfurnished        1 out of 7        Resale
...           ...              ...               ...           ...
4377         3500      Unfurnished  Poss. by Dec '24  New Property
4384         3676      Unfurnished  Poss. by Dec '24  New Property
4390         3700      Unfurnished  Poss. by Dec '24  New Property
4396         4599      Unfurnished  Poss. by Dec '24  New Property
4402         4600      Unfurnished  Poss. by Dec '24  New Property

       furnishing     facing  \
4               2          2
5     Unfurnished          2
6     Unfurnished  Main Road
8               2          2
22    Unfurnished          1
...           ...        ...
4377  Unfurnished          4
4384  Unfurnished          4
4390  Unfurnished          4
4396  Unfurnished          4
4402  Unfurnished          4

                                            description    price_per_sqft  \
4     Multistorey Apartment for Sale in Palanpur, Su...  ₹3,600 per sqft
5     Multistorey Apartment for Sale in Jahangirabad...  ₹3,411 per sqft
6                                           contraction               NaN
8     Multistorey Apartment for Sale in Palanpur, Su...  ₹3,751 per sqft
22    Multistorey Apartment is located at the advant...  ₹3,304 per sqft
...                                                 ...               ...
4377  Multistorey Apartment for Sale in VIP Road, Su...  ₹5,450 per sqft
4384  Multistorey Apartment for Sale in VIP Road, Su...  ₹5,450 per sqft
4390  Multistorey Apartment for Sale in VIP Road, Su...  ₹5,450 per sqft
4396  Multistorey Apartment for Sale in VIP Road, Su...  ₹5,450 per sqft
4402  Multistorey Apartment for Sale in VIP Road, Su...  ₹5,450 per sqft

          price
4     4500000.0
5     4320000.0
6     4210000.0
8     4430000.0
22    3800000.0
...         ...
4377        0.0
4384        0.0
4390        0.0
4396        0.0
4402        0.0

[850 rows x 11 columns]
Count of rows having 'New Property' or 'Resale' in any column (excluding 'transaction'): 850

In [ ]:
# Calculate percentage of values in each column that contain 'New Property' or 'Resale'
percentage = df.apply(lambda col: col.astype(str).str.contains('New Property|Resale', case=False).mean() * 100)

# Count how many rows in each column contain 'New Property' or 'Resale'
count = df.apply(lambda col: col.astype(str).str.contains('New Property|Resale', case=False).sum())

# Display the percentage and count for each column
print("Percentage of values containing 'New Property' or 'Resale':")
print(percentage)

print("\nCount of rows containing 'New Property' or 'Resale':")
print(count)

Percentage of values containing 'New Property' or 'Resale':
property_name      0.000000
areaWithType       0.000000
square_feet        0.000000
transaction       81.392265
status             2.585635
floor             15.425414
furnishing         0.000000
facing             0.000000
description        0.839779
price_per_sqft     0.000000
price              0.000000
dtype: float64

Count of rows containing 'New Property' or 'Resale':
property_name        0
areaWithType         0
square_feet          0
transaction       3683
status             117
floor              698
furnishing           0
facing               0
description         38
price_per_sqft       0
price                0
dtype: int64

so will impute transaction with status , floor , description

In [ ]:
valid_values = ['New Property', 'Resale']
df['transaction'] = df['transaction'].apply(lambda x: x if x in valid_values else np.nan)

print("\nUnique values after replacement:")
print(df['transaction'].unique())

Unique values after replacement:
['New Property' 'Resale' nan]

In [ ]:
# Fill 'transaction' where 'floor' contains 'New Property' or 'Resale' and 'transaction' is NaN
df.loc[(df['floor'].str.contains('New Property|Resale', case=False, na=False)) & (df['transaction'].isna()), 'transaction'] = df['floor']

# Count how many rows are filled in the 'transaction' column
filled_count = df['transaction'].isna().sum()

# Display the number of rows filled
print(f"Number of rows filled in 'transaction': {filled_count}")

Number of rows filled in 'transaction': 144

In [ ]:
# Filter rows where 'description' contains 'New Property' or 'Resale'
filtered_rows = df[df['description'].str.contains('New Property|Resale', case=False, na=False)]

# Display the filtered rows
filtered_rows

# Count the number of rows
count = filtered_rows.shape[0]
print(f"Number of rows where 'description' is 'New Property' or 'Resale': {count}")

Number of rows where 'description' is 'New Property' or 'Resale': 38

In [ ]:
# Filter rows where 'description' contains 'New Property' or 'Resale'
filtered_rows = df[df['description'].str.contains('New Property|Resale', case=False, na=False)]


# Count the number of rows
count = filtered_rows.shape[0]
print(f"Number of rows where 'description' is 'New Property' or 'Resale': {count}")

Number of rows where 'description' is 'New Property' or 'Resale': 38

In [ ]:
df['transaction'].isna().sum()

np.int64(144)

In [ ]:
# Filter rows where 'transaction' is NaN
filtered_rows_na = df[df['transaction'].isna()]

# Display the filtered rows
filtered_rows_na

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250,NaN,New Property,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...","₹3,600 per sqft",4500000.0
8,"2 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1180,NaN,New Property,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...","₹3,751 per sqft",4430000.0
90,Plot/Land for Sale in Bhestan Surat,NaN,1040,NaN,Resale,NaN,NaN,NaN,1040 Sq-ft Residential Plot is available for S...,"₹4,712 per sqft",4900000.0
124,Industrial Land for Sale in Surat City Surat,NaN,1318,NaN,Resale,NaN,NaN,NaN,1318 Sq-ft Industrial Land is available for Sa...,"₹1,669 per sqft",2200000.0
131,Industrial Land for Sale in Palsana Surat,NaN,1978,NaN,New Property,NaN,NaN,NaN,"1. Prime Location at NH 8 , Palsana.2. Easy Tr...","₹1,618 per sqft",3200000.0
...,...,...,...,...,...,...,...,...,...,...,...
3984,5 BHK Builder Floor for Sale in Raghuvir Silve...,Super Area,5700,NaN,New Property,Unfurnished,1 Open,5,"Builder Floor Apartment for Sale in Vesu, Sura...","₹6,500 per sqft",0.0
4012,4 BHK Apartment for Sale in Raghuvir Silversto...,Super Area,3636,NaN,New Property,Unfurnished,4,4,"Multistorey Apartment for Sale in Vesu, Surat....","₹6,500 per sqft",0.0
4091,Land for Sale in Nanpura Surat,NaN,1800,NaN,Resale,NaN,NaN,NaN,business location area,"₹22,222 per sqft",0.0
4149,"5 BHK Apartment for Sale in Casa Rivera, Adaja...",Super Area,5000,NaN,New Property,Unfurnished,5,4,"Multistorey Apartment for Sale in Adajan, Sura...","₹7,500 per sqft",0.0
4199,"5 BHK Apartment for Sale in Casa Rivera, Adaja...",Super Area,6300,NaN,New Property,Unfurnished,5,4,"Multistorey Apartment for Sale in Adajan, Sura...","₹7,500 per sqft",0.0

## price_per_sqft

In [ ]:
print(df['price_per_sqft'].isna().sum())

368

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4525 entries, 0 to 4524
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   4525 non-null   object
 1   areaWithType    4270 non-null   object
 2   square_feet     4525 non-null   Int64
 3   transaction     4381 non-null   object
 4   status          4524 non-null   object
 5   floor           4480 non-null   object
 6   furnishing      4185 non-null   object
 7   facing          3936 non-null   object
 8   description     3154 non-null   object
 9   price_per_sqft  4157 non-null   object
 10  price           4525 non-null   float64
dtypes: Int64(1), float64(1), object(9)
memory usage: 393.4+ KB

### so this may affect golden layer

In [ ]:
df['price_per_sqft'] = df['price_per_sqft'].str.replace(r'[^\d.]', '', regex=True)

## status

In [ ]:
df.isna().sum()

property_name        0
areaWithType       255
square_feet          0
transaction        144
status               1
floor               45
furnishing         340
facing             589
description       1371
price_per_sqft     368
price                0
dtype: int64

In [ ]:
df['status'].unique()

array(["Poss. by Oct '24", "Poss. by Jan '26", 'Ready to Move',
       'New Property', "Poss. by Dec '25", "Poss. by Jun '24",
       "Poss. by Sep '25", "Poss. by Feb '26", '1 out of 7',
       "Poss. by Jul '24", "Poss. by Dec '26", "Poss. by Apr '25",
       "Poss. by Jan '25", 'Freehold', '21 X 50.2', "Poss. by Dec '24",
       "Poss. by Aug '25", "Poss. by Feb '25", '3 out of 10', 'Resale',
       'Co-operative Society', '120 X 105', '3 out of 7',
       "Poss. by May '26", '36 X 15', "Poss. by Aug '24", '2',
       '3 out of 3', '52.5 X 32.1', '3 out of 5', '5 out of 5',
       '12 X 35.92', '13 out of 14', '7.29 X 14', '4 out of 5',
       'Ground out of 1', '3 out of 4', 'Ground out of 10',
       'Ground out of 2', '20 X 40', '16.4 X 60', '11 out of 14',
       '9.42 X 126', '25 X 12', nan, '2 out of 4', '54 X 15', '21 X 57',
       'Power Of Attorney', "Poss. by Jul '25", "Poss. by May '25",
       "Poss. by Mar '26", "Poss. by Jun '26", "Poss. by Nov '24",
       '26.7 X 55.6', "Poss. by Jun '25", "Poss. by Mar '25", '41 X 20',
       "Poss. by Apr '26", '5 out of 13', '36 X 21', '19.2 X 54.8',
       '8 out of 14', '26.7 X 54.9', '38 X 21', '2 out of 13', '135 X 75',
       '38 X 20', '114 X 60', '45 X 40', '40 X 21', "Poss. by Sep '24",
       "Poss. by Nov '25", '37 X 26', '180 X 22.5', '4 out of 14',
       '114 X 14', 'Const. Age New Construction', '285 X 51',
       '8 out of 10', '6 out of 11', 'Ground out of 5',
       "Poss. by Oct '25", '10 out of 11', '5 out of 14', '60 X 28',
       '37 X 20', '13.3 X 135', '9 out of 11', "Poss. by Dec '28",
       '48 X 14', '45.5 X 21.56', '60 X 120', "Poss. by Sep '26",
       '8 out of 13', '7 out of 13', '4.55 X 20', "Poss. by Dec '27",
       '9 out of 13', '16.7 X 240', "Poss. by Oct '26", '7 out of 14',
       "Poss. by Jan '27", '9 out of 14', '3 out of 13', '40 X 20',
       '92 X 12', '4 out of 12', '39.6 X 20', '120 X 60', '138 X 63',
       '120 X 63', '126 X 66', "Poss. by Apr '27", "Poss. by May '27",
       '1 out of 12', '52.5 X 26.1', '55 X 22', '2 out of 12', '180 X 45',
       '31 X 41', "Poss. by Mar '27", '46 X 46.17', "Poss. by Jul '26",
       '12 out of 12', '110 X 27.27', "Poss. by Aug '26", '73.7 X 53.1',
       "Poss. by Jul '27", '4 out of 11', "Poss. by Jun '27",
       "Poss. by Nov '26", '144 X 126', '4 out of 9', '240 X 180',
       "Poss. by Mar '28", '1200 X 3', '144 X 105', "Poss. by Nov '28"],
      dtype=object)

In [ ]:
df[['status']].head()

             status
0  Poss. by Oct '24
1  Poss. by Jan '26
2     Ready to Move
3     Ready to Move
4      New Property

In [ ]:
nan_before = df['transaction'].isna().sum()

df.loc[(df['transaction'].isna()) & (df['status'] == 'New Property'), 'transaction'] = 'New Property'
df.loc[(df['transaction'].isna()) & (df['status'] == 'Resale'), 'transaction'] = 'Resale'

nan_after = df['transaction'].isna().sum()

filled_count = nan_before - nan_after

print(f"Filled {filled_count} transaction values.")

Filled 117 transaction values.

#### that sound good as imputed some nan values in transaction

In [ ]:
# Find rows where status matches pattern like "number out of number"
mask = df['status'].astype(str).str.match(r'^\d+\s*out\s*of\s*\d+$')

# Show those rows
matching_rows = df[mask]

matching_rows

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
22,2 BHK Apartment for Sale in Palan Pur Patiya S...,Super Area,1150,Resale,1 out of 7,Resale,Unfurnished,1,Multistorey Apartment is located at the advant...,3304,3800000.0
70,2 BHK Apartment for Sale in Adajan Surat,Super Area,1200,Resale,3 out of 10,Resale,Furnished,2,2 BHK multistorey apartment is available for s...,3333,4000000.0
198,2 BHK Apartment for Sale in Adajan Surat,Super Area,960,Resale,3 out of 7,Resale,Semi-Furnished,NaN,NaN,4167,4000000.0
326,1 BHK Builder Floor for Sale in Saroli Surat,Carpet Area,12,Resale,3 out of 3,Resale,Unfurnished,2,NaN,33333,500000.0
360,"3 BHK Apartment for Sale in Mangalam Park, Pip...",Super Area,1420,Resale,1 out of 7,Resale,Semi-Furnished,Main Road,"3 BHK flat is available for sale. Facing Road,...",3169,4500000.0
368,Office Space for Sale in Lal Gate Surat,NaN,0,Resale,3 out of 5,Resale,NaN,NaN,NaN,NaN,3000000.0
417,2 BHK Apartment for Sale in Adajan Surat,Super Area,950,Resale,5 out of 5,Resale,Semi-Furnished,2,"east facing,semi furnished and located near lo...",3158,3000000.0
467,2 BHK Apartment for Sale in Nilkanth Park soci...,Super Area,1083,Resale,5 out of 5,Resale,Furnished,NaN,NaN,3509,3800000.0
471,1 BHK Apartment for Sale in Morabhagal Surat,NaN,0,Resale,13 out of 14,Resale,Unfurnished,NaN,NaN,NaN,1500000.0
537,"2 BHK Apartment for Sale in Aagam Navkar, Sach...",Super Area,570,Resale,4 out of 5,Resale,Unfurnished,2,NaN,3509,2000000.0
606,1 BHK Builder Floor for Sale in Kailash Nagar ...,Super Area,700,Resale,3 out of 4,Resale,Furnished,1,Builder Floor Apartment owned by Co-operativ...,2571,1800000.0
806,2 BHK Apartment for Sale in Saroli Surat,Super Area,1250,Resale,11 out of 14,Resale,Unfurnished,NaN,NaN,3600,4500000.0
846,2 BHK Apartment for Sale in Majura Gate Surat,NaN,0,Resale,4 out of 5,Resale,Furnished,2,This spacious Multistorey Apartment is locate...,NaN,3000000.0
997,2 BHK Builder Floor for Sale in Katargam Surat,Super Area,730,Resale,2 out of 4,Resale,Unfurnished,1,NaN,1918,1400000.0
1284,"2 BHK Apartment for Sale in Shubham Pearl, Pal...",Super Area,1275,New Property,5 out of 13,New Property,Unfurnished,Garden/Park,No Brokerage on this property. Shubham Pearl i...,3851,4910000.0
1321,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250,Resale,8 out of 14,Resale,Unfurnished,Garden/Park,No Brokerage on this property. Orchid Fantasia...,3700,4630000.0
1382,2 BHK Apartment for Sale in Siddhi Vinayak Ele...,Super Area,1278,Resale,2 out of 13,Resale,Unfurnished,Garden/Park,NO BROKERAGE ON THIS PROPERTY. A 2bhk flat for...,3861,4930000.0
1682,3 BHK House for Sale in Dindoli Surat,Super Area,2100,Resale,3 out of 3,Resale,Semi-Furnished,NaN,Residential house is available for sale. It is...,2643,5550000.0
1709,3 BHK Apartment for Sale in Vesu Surat,Super Area,1770,Resale,4 out of 14,Resale,Unfurnished,NaN,NaN,5500,9740000.0
1774,"2 BHK Apartment for Sale in Raghuvir Spalex, V...",Super Area,1365,Resale,8 out of 10,Resale,Unfurnished,2,NaN,5000,6830000.0
1800,3 BHK Apartment for Sale in Althan Canal Road ...,Super Area,1740,Resale,6 out of 11,Resale,Furnished,NaN,It's a 6th floor Multistorey Apartment in a b...,4885,8500000.0
1804,Showroom for Sale in Ring Road Surat,Super Area,800,Resale,3 out of 3,Resale,NaN,NaN,Commercial Showroom is well located available...,10625,8500000.0
1885,"2 BHK Apartment for Sale in Umra, Surat Surat",Super Area,1100,Resale,10 out of 11,Resale,Unfurnished,NaN,Property available for sale is in good location.,5455,6000000.0
1886,3 BHK Apartment for Sale in Citylight Area Surat,Super Area,1500,Resale,2 out of 4,Resale,Semi-Furnished,2,Its a 3 BHK flat Located in a premium facility...,5000,7500000.0
1904,3 BHK Apartment for Sale in Althan Surat,Super Area,1773,Resale,5 out of 14,Resale,Unfurnished,NaN,NaN,4343,7700000.0
2046,3 BHK Apartment for Sale in Bhimrad Surat,Super Area,1851,Resale,9 out of 11,Resale,Furnished,3,NaN,4592,8500000.0
2232,2 BHK Apartment for Sale in Palanpur Surat,Super Area,1351,New Property,5 out of 13,New Property,Unfurnished,Garden/Park,A 2bhk spacious flat available for sale in a l...,4351,5880000.0
2282,3 BHK Apartment for Sale in Palanpur Surat,Super Area,1751,New Property,8 out of 13,New Property,Unfurnished,"Garden/Park, Main Road",No Brokerage on this property. A 2bhk spacious...,4351,7620000.0
2331,3 BHK Apartment for Sale in Pal Surat,Super Area,1900,New Property,7 out of 13,New Property,Unfurnished,"Garden/Park, Main Road","No brokerage on this property, All flats are G...",4550,8650000.0
2373,2 BHK Apartment for Sale in Palanpur Surat,Super Area,1311,New Property,5 out of 13,New Property,Unfurnished,Garden/Park,No Brokerage on this property. This is a luxur...,4251,5570000.0
2412,3 BHK Apartment for Sale in Pal Surat,Super Area,1872,New Property,5 out of 14,New Property,Unfurnished,"Garden/Park, Main Road",NO BROKERAGE ON THIS PROPERTY. This building i...,4541,8500000.0
2483,"3 BHK Apartment for Sale in Shiv Samarth II, P...",Carpet Area,991,New Property,8 out of 13,New Property,Unfurnished,"Garden/Park, Main Road",No brokerage on this property. A 3bhk spacious...,3999,7210000.0
2516,"3 BHK Apartment for Sale in Shiv Samarth II, P...",Carpet Area,849,Resale,9 out of 13,Resale,Unfurnished,Garden/Park,No brokerage on this property. A 3bhk flat for...,3986,6150000.0
2547,"3 BHK Apartment for Sale in Santvan Seron, Pal...",Super Area,1861,New Property,8 out of 13,New Property,Unfurnished,Garden/Park,No Brokerage on this Property. Just 2 flats on...,4200,7820000.0
2579,"3 BHK Apartment for Sale in Shubham Pearl, Pal...",Super Area,1775,New Property,5 out of 13,New Property,Unfurnished,Garden/Park,No Brokerage on this property. Shubham Pearl i...,3851,6840000.0
2606,"3 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1690,New Property,7 out of 14,New Property,Unfurnished,Garden/Park,No Brokerage on this property. Orchid Fantasia...,3675,6210000.0
2631,"3 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1690,New Property,9 out of 14,New Property,Unfurnished,Garden/Park,No Brokerage on this property. Orchid Fantasia...,3693,6240000.0
2654,"3 BHK Apartment for Sale in Santvan Seron, Pal...",Super Area,1861,New Property,9 out of 13,New Property,Unfurnished,Santvan Seron,No brokerage on this property. Santvan seron i...,4294,7990000.0
2712,3 BHK Apartment for Sale in Siddhi Vinayak Ele...,Super Area,1857,Resale,3 out of 13,Resale,Unfurnished,Garden/Park,NO BROKERAGE ON THIS PROPERTY. A 3bhk flat for...,3861,7170000.0
2731,"3 BHK Apartment for Sale in Pramukh Amaya, Pal...",Super Area,2111,New Property,9 out of 13,New Property,Unfurnished,"Garden/Park, Main Road",No Brokerage on this property. This is a luxur...,4263,9000000.0
2803,"3 BHK Apartment for Sale in Avadh Copperstone,...",Super Area,1890,New Property,4 out of 12,New Property,Unfurnished,"Garden/Park, Main Road",NaN,4444,8400000.0
3057,"3 BHK Apartment for Sale in Piramyd Serenity, ...",Super Area,2441,New Property,9 out of 13,New Property,Unfurnished,"Garden/Park, Main Road",No Brokerage on this property. Piramyd Serenit...,4500,0.0
3078,"3 BHK Apartment for Sale in Avadh Carolina, Du...",Carpet Area,1840,Resale,1 out of 12,Resale,Furnished,"Garden/Park, Pool","3 BHK, Multistorey Apartment is available for ...",5707,0.0
3098,3 BHK Apartment for Sale in Vesu Surat,Super Area,2400,Resale,5 out of 13,Resale,Unfurnished,NaN,"3 BHK, Multistorey Apartment is available for ...",5125,0.0
3139,"3 BHK Apartment for Sale in Happy Glorious, Ve...",Carpet Area,1500,Resale,4 out of 12,Resale,Furnished,3,Multistorey apartment is available for sale. I...,5870,0.0
3176,3 BHK Apartment for Sale in Vesu Surat,Super Area,2160,Resale,4 out of 12,Resale,Unfurnished,NaN,NaN,5350,0.0
3191,4 BHK Builder Floor for Sale in New citylight ...,Carpet Area,2800,New Property,2 out of 12,New Property,Furnished,Main Road,"Flat fully furnished, with 4 bedrooms, all lux...",NaN,0.0
3619,4 BHK Apartment for Sale in Vesu Surat,Super Area,3513,Resale,12 out of 12,Resale,Unfurnished,NaN,Are you ready to settle in Surat?? Then come a...,7051,0.0
3773,"4 BHK Apartment for Sale in aventis ofira, Bha...",Super Area,3882,Resale,4 out of 11,Resale,Unfurnished,aventis ofira,It's a 4th floor Freehold Multistorey Apartmen...,7032,0.0
3783,4 BHK Apartment for Sale in Vesu Surat,Super Area,3780,New Property,7 out of 13,New Property,Unfurnished,"Garden/Park, Pool, Main Road","Big Plot with large open space, only 2 flats p...",5741,0.0
3870,4 BHK Builder Floor for Sale in New citylight ...,Carpet Area,2800,New Property,2 out of 12,New Property,Furnished,Main Road,"Flat fully furnished, with 4 bedrooms, all lux...",NaN,0.0
4082,"4 BHK Apartment for Sale in Unison Crest, Vesu...",Super Area,4604,New Property,4 out of 9,New Property,Unfurnished,"Garden/Park, Pool, Main Road",ULTRA Luxurious 4 5 bhk flats in GD Goenka ca...,6851,0.0

In [ ]:
pattern = r'^\d+\s*out\s*of\s*\d+$'

# Apply the condition to fill 'floor' with 'status' where 'status' matches the pattern and 'floor' doesn't match the pattern
df.loc[df['status'].str.match(pattern, na=False) & ~df['floor'].str.match(pattern, na=False), 'floor'] = df['status']

# Count how many rows are filled
filled_count = df['floor'].notna().sum()

# Display the filled rows and count
print(filled_count)

4480

#### if status is number out of number and floor is any other value append the number out of number  to floor column

In [ ]:
# Mask where status is 'number out of number'
mask = df['status'].astype(str).str.match(r'^\d+\s*out\s*of\s*\d+$')

# Mask where floor is not null
floor_not_null = df['floor'].notna()

# Combined mask: status is "number out of number" AND floor is not null
combined_mask = mask & floor_not_null

# Count how many
appended_count = combined_mask.sum()

print(f"Number of rows where 'status' was appended to 'floor': {appended_count}")

Number of rows where 'status' was appended to 'floor': 52

#### sound good as we will split them later

In [ ]:
status_counts = df['status'].value_counts()

print("\nCount of each unique value in ")
print(status_counts)

Count of each unique value in
status
Ready to Move       3078
Poss. by Dec '24     155
Poss. by Dec '25     102
Resale                95
Poss. by Jul '24      78
                    ...
240 X 180              1
Poss. by Mar '28       1
1200 X 3               1
144 X 105              1
Poss. by Nov '28       1
Name: count, Length: 138, dtype: int64

In [ ]:
import pandas as pd
import numpy as np

# Define the categorize_status function
def categorize_status(x):
    if pd.isna(x):
        return np.nan
    x = str(x)
    if x == "Ready to Move":
        return "Ready to Move"
    elif x.startswith("Poss. by"):
        return "Under Construction"
    elif x in ["New Property", "Resale", "Freehold", "Co-operative Society", "Power Of Attorney"]:
        return "Ready to Move"
    elif x == "Const. Age New Construction":
        return "Under Construction"
    else:
        return x  # Keep the original value if it doesn't match any condition

# Apply the function to the 'status' column
df['status'] = df['status'].apply(categorize_status)

# Count how many values are in 'Ready to Move' and 'Under Construction'
count_ready_to_move = df['status'].value_counts().get("Ready to Move", 0)
count_under_construction = df['status'].value_counts().get("Under Construction", 0)

print(f"Count of 'Ready to Move': {count_ready_to_move}")
print(f"Count of 'Under Construction': {count_under_construction}")

Count of 'Ready to Move': 3282
Count of 'Under Construction': 1118

In [ ]:
df.isna().sum()

property_name        0
areaWithType       255
square_feet          0
transaction         27
status               1
floor               45
furnishing         340
facing             589
description       1371
price_per_sqft     368
price                0
dtype: int64

In [ ]:
# Filter rows where 'status' is neither 'Under Construction' nor 'Ready to Move'
filtered_rows = df[~df['status'].isin(['Under Construction', 'Ready to Move'])]

# Display the filtered rows
filtered_rows

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
22,2 BHK Apartment for Sale in Palan Pur Patiya S...,Super Area,1150,Resale,1 out of 7,1 out of 7,Unfurnished,1,Multistorey Apartment is located at the advant...,3304,3800000.0
40,Plot/Land for Sale in Narthan Surat,NaN,1055,Resale,21 X 50.2,Freehold,2,1,More than 7 international school running in th...,2275,2400000.0
70,2 BHK Apartment for Sale in Adajan Surat,Super Area,1200,Resale,3 out of 10,3 out of 10,Furnished,2,2 BHK multistorey apartment is available for s...,3333,4000000.0
179,Plot/Land for Sale in Olpad Sayan Road Surat,NaN,1413,Resale,120 X 105,Freehold,2,30 m,Residential plot is available for sale. It is ...,1699,2400000.0
198,2 BHK Apartment for Sale in Adajan Surat,Super Area,960,Resale,3 out of 7,3 out of 7,Semi-Furnished,NaN,NaN,4167,4000000.0
...,...,...,...,...,...,...,...,...,...,...,...
4058,Plot/Land for Sale in Piplod Surat,NaN,2025,Resale,144 X 126,Resale,No,NaN,NaN,12222,0.0
4082,"4 BHK Apartment for Sale in Unison Crest, Vesu...",Super Area,4604,New Property,4 out of 9,4 out of 9,Unfurnished,"Garden/Park, Pool, Main Road",ULTRA Luxurious 4 5 bhk flats in GD Goenka ca...,6851,0.0
4084,Plot/Land for Sale in Piplod Surat,NaN,4770,Resale,240 X 180,Freehold,3,2,plot. good. location. gated. Community. Mainta...,16667,0.0
4191,Plot/Land for Sale in Piplod Surat,NaN,3600,Resale,1200 X 3,Freehold,1,1,400 Vaar Open Plot On sale Piplod V I P Area O...,12778,0.0
4300,Plot/Land for Sale in Piplod Surat,NaN,1683,Resale,144 X 105,Co-operative Society,2,8 m,"near temple, school, multiplex,",12181,0.0

In [ ]:
df.isna().sum()

property_name        0
areaWithType       255
square_feet          0
transaction         27
status               1
floor               45
furnishing         340
facing             589
description       1371
price_per_sqft     368
price                0
dtype: int64

In [ ]:
df[df['status'].isna()]

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
950,House for Sale in Kamrej Surat,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2400000.0

will drop it

In [ ]:
before = df.shape[0]
df = df.dropna(subset=['status'])
after = df.shape[0]

print(f"Dropped {before - after} rows where status was NaN.")

Dropped 1 rows where status was NaN.

## floor

In [ ]:
floor_counts = df['floor'].value_counts()

print("\nCount of each unique value in ")
print(floor_counts)

Count of each unique value in
floor
Resale          398
New Property    248
5 out of 13     212
7 out of 13     152
6 out of 13     129
               ...
4 out of 20       1
2 out of 17       1
9 out of 17       1
14 out of 20      1
1 out of 18       1
Name: count, Length: 222, dtype: int64

In [ ]:
print(df['floor'].unique())

['5 out of 10' '6 out of 14' '5 out of 13' 'Unfurnished' 'New Property'
 '7 out of 10' '3 out of 14' '6 out of 13' '1 out of 1' '1 out of 13'
 '4 out of 7' '3 out of 3' '2 out of 6' '3 out of 5' '2 out of 5'
 '3 out of 12' '5 out of 5' '1 out of 7' 'Ground out of 1'
 'Lower Basement out of 7' '1 out of 5' '7 out of 14' '9 out of 14'
 '5 out of 12' '7 out of 13' 'Resale' '1 out of 2' '2 out of 10'
 'Freehold' '12 out of 14' '10 out of 14' '2 out of 12' '1 out of 4'
 '13 out of 14' '4 out of 14' '6 out of 10' '2 out of 4' '3 out of 4'
 '3 out of 10' '9 out of 13' 'Upper Basement out of 5' '1 out of 3'
 '4 out of 4' 'Ground out of 2' 'Lower Basement out of 2'
 'Ground out of 4' nan 'Ground out of 5' '4 out of 10' 'Ground out of 14'
 'Ground out of 6' '5 out of 6' '8 out of 9' '4 out of 5' '2 out of 7'
 '7 out of 7' 'Ground out of 3' '4 out of 8' '8 out of 14' '6 out of 7'
 '7 out of 11' 'Upper Basement out of 4' 'Furnished' 'Congo' '3'
 '2 out of 3' '3 out of 7' 'Ground' '1 out of 6' '9 out of 11'
 '14 out of 14' '5 out of 14' '1 out of 8' '5 out of 7' '8 out of 12'
 'Ground out of 10' '2 out of 2' '7 out of 12' '3 out of 6' '1 out of 12'
 '16 out of 19' '13 out of 13' '6 out of 8' '8 out of 8' '3 out of 9'
 '11 out of 12' '6 out of 12' '8 out of 13' '11 out of 11' '4 out of 6'
 '1' '2 out of 13' '1 out of 9' '1 out of 10' 'Upper Basement out of 14'
 '2' '5 out of 8' '10 out of 12' '6 out of 9' '4 out of 13' '11 out of 15'
 'No' '10 out of 10' 'Ground out of 7' '3 out of 11' 'Yes'
 'Lower Basement out of 59' '6 out of 11' '4 out of 15' 'Semi-Furnished'
 '11 out of 13' 'Lower Basement out of 4' 'Upper Basement out of 12'
 'Upper Basement out of 1' '10 out of 13' '7 out of 9' '4 out of 9'
 '3 out of 8' 'Lower Basement out of 5' '4 out of 12' '10 out of 11'
 'Ground out of 11' '7 out of 8' 'Other' '1 out of 11' '9 out of 10'
 '11 out of 14' '5 out of 11' 'Lower Basement out of 6' '9 out of 9'
 'Ground out of 13' '2 out of 8' 'The Polaris Avenue' '4 out of 11'
 '12 out of 13' '8 out of 10' '4 out of 19' '5 out of 15' '15 out of 19'
 '3 out of 13' 'Co-operative Society' '9 out of 12' '7 out of 19'
 '2 out of 14' '10 out of 19' 'Lower Basement out of 14' '6 out of 15'
 '6 out of 19' '2 out of 11' '9 out of 19' '9 out of 15' '18 out of 19'
 '1 out of 30' '1 out of 15' '10 out of 20' '13 out of 15' '1 out of 14'
 '20 out of 21' '8 out of 19' 'Om Residency' '8 out of 11' '7 out of 15'
 '5 out of 9' '12 out of 12' '11 out of 20' '2 out of 9' '14 out of 15'
 '15 out of 21' '12 out of 15' '15 out of 15' '8 out of 15' '10 out of 15'
 '13 out of 19' '10 out of 21' '3 out of 15' '14 out of 19' '2 out of 15'
 '9 out of 20' '8 out of 20' '18 out of 21' 'Ground out of 8' '6 out of 6'
 'Milestone Regalia' '5 out of 20' '15 out of 18' '5 out of 19'
 '5 out of 16' '17 out of 20' '5 out of 18' '15 out of 20'
 'Lower Basement out of 1' '10 out of 18' '7 out of 20' '17 out of 18'
 '7 out of 17' '5' '9 out of 25' '6 out of 20' '6 out of 18'
 'Upper Basement out of 3' '4 out of 18' '9 out of 21' '4 out of 21'
 '19 out of 19' '17 out of 19' '7 out of 18' '20 out of 20' '4 out of 20'
 '9 out of 18' 'Ground out of 12' '3 out of 18' 'Ground out of 19'
 '16 out of 20' '2 out of 19' '16 out of 18' '12 out of 19' '3 out of 19'
 '3 out of 20' '1 out of 20' '2 out of 17' '9 out of 17' '14 out of 20'
 '1 out of 18']

In [ ]:
def modify_floor(floor):
    if isinstance(floor, str):
        # Check if the floor contains "Ground out of"
        if "Ground out of" in floor:
            return floor.replace("Ground out of", "0 out of")
        # Check if it's "Ground" alone
        elif "Ground" in floor:
            return "0 out of 0"
        # Check if the floor contains "Upper Basement out of"
        elif "Upper Basement out of" in floor:
            return floor.replace("Upper Basement out of", "-1 out of")
        # Check if the floor contains "Lower Basement out of"
        elif "Lower Basement out of" in floor:
            return floor.replace("Lower Basement out of", "-2 out of")
        else:
            return floor
    return floor

df['floor'] = df['floor'].apply(modify_floor)

modified_floor = df[df['floor'].str.contains('out of', na=False)]

In [ ]:
# Filter rows where 'floor' does not match the pattern "number out of number" allowing negative numbers
non_matching_floor = df[~df['floor'].astype(str).str.match(r'^-?\d+\s*out\s*of\s*-?\d+$', na=False)]

print(f"Number of rows where floor is not 'number out of number': {non_matching_floor.shape[0]}")

Number of rows where floor is not 'number out of number': 826

In [ ]:
non_matching_floor

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250,New Property,Ready to Move,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...",3600,4500000.0
5,"2 BHK Apartment for Sale in Anand Aspire, Jaha...",Super Area,1265,New Property,Under Construction,New Property,Unfurnished,2,Multistorey Apartment for Sale in Jahangirabad...,3411,4320000.0
6,3 BHK Villa for Sale in Dindoli Surat,Carpet Area,1404,New Property,Under Construction,New Property,Unfurnished,Main Road,contraction,NaN,4210000.0
8,"2 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1180,New Property,Ready to Move,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...",3751,4430000.0
26,2 BHK Apartment for Sale in Palanpur Surat,Carpet Area,650,New Property,Ready to Move,New Property,Unfurnished,Main Road,LUXURY NOW AFFORDABLE 2 BHK FLAT.Two Separate ...,4150,4650000.0
...,...,...,...,...,...,...,...,...,...,...,...
4377,4 BHK Apartment for Sale in Bblossom The Presi...,Super Area,3500,New Property,Under Construction,New Property,Unfurnished,4,"Multistorey Apartment for Sale in VIP Road, Su...",5450,0.0
4384,4 BHK Apartment for Sale in Bblossom The Presi...,Super Area,3676,New Property,Under Construction,New Property,Unfurnished,4,"Multistorey Apartment for Sale in VIP Road, Su...",5450,0.0
4390,4 BHK Apartment for Sale in Bblossom The Presi...,Super Area,3700,New Property,Under Construction,New Property,Unfurnished,4,"Multistorey Apartment for Sale in VIP Road, Su...",5450,0.0
4396,4 BHK Apartment for Sale in Bblossom The Presi...,Super Area,4599,New Property,Under Construction,New Property,Unfurnished,4,"Multistorey Apartment for Sale in VIP Road, Su...",5450,0.0
4402,4 BHK Apartment for Sale in Bblossom The Presi...,Super Area,4600,New Property,Under Construction,New Property,Unfurnished,4,"Multistorey Apartment for Sale in VIP Road, Su...",5450,0.0

In [ ]:
# If 'description' contains "Villa" (case insensitive) and 'floor' is missing or anything, set 'floor' to "1 out of 1"
df.loc[df['description'].str.contains('villa', case=False, na=False), 'floor'] = '1 out of 1'

In [ ]:
# Filter rows where 'description' contains the word 'floors' and 'floor' is not in the 'number out of number' format
filtered_rows = df[
    df['description'].str.contains('floors', case=False, na=False) &
    ~df['floor'].astype(str).str.match(r'^\d+\s*out\s*of\s*\d+$', na=False)
]

filtered_rows

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
132,2 BHK House for Sale in Bardoli Surat,Super Area,1000,Resale,Ready to Move,NaN,NaN,NaN,This Residential House of total floors is me...,4500,4500000.0
154,2 BHK House for Sale in Kamrej Surat,Super Area,90,Resale,Ready to Move,Resale,Semi-Furnished,NaN,Residential House is made upto 1 floors. The...,5556,4500000.0
285,2 BHK House for Sale in Velanja Surat,Super Area,140,Resale,Ready to Move,Unfurnished,1,NaN,This Residential House of total floors is me...,2778,3500000.0
303,1 BHK House for Sale in Kosamba Surat,Super Area,480,Resale,Ready to Move,Resale,Unfurnished,NaN,This spacious Residential House has total 1 f...,1875,900000.0
361,Plot/Land for Sale in Pandesara Surat,NaN,420,Resale,Ready to Move,1,NaN,NaN,Embark on a journey of endless possibilities w...,3333,1400000.0
731,1 BHK House for Sale in Kadodara Surat,Super Area,432,Resale,Ready to Move,Resale,Unfurnished,NaN,This Residential House is built over 1 floors...,3266,1410000.0
823,1 BHK House for Sale in Palanpur Gam Surat,Super Area,630,Resale,Ready to Move,Resale,Semi-Furnished,1,This Residential House is built over 1 floors...,7460,4700000.0
975,2 BHK House for Sale in Amroli Surat,Super Area,576,Resale,Ready to Move,Resale,Semi-Furnished,1,This Residential House is built over 1 floors...,6076,3500000.0
1727,7 BHK House for Sale in Palanpur Jakatnaka Surat,Super Area,2100,Resale,Ready to Move,Resale,Semi-Furnished,6,Residential House is made upto 2 floors. The...,4286,9000000.0
1802,2 BHK House for Sale in Nanavat Surat,Super Area,864,Resale,Ready to Move,-2 out of 5,Semi-Furnished,North,This Residential House is built over 2 floors...,9259,8000000.0
1824,Shop for Sale in Kamrej Surat,Super Area,280,Resale,Ground out of 5,Resale,NaN,NaN,This Commercial Shop is located at Ground flo...,28571,8000000.0
2005,4 BHK House for Sale in Adajan Surat,Super Area,180,Resale,Ready to Move,Resale,Unfurnished,NaN,This Residential House is built over 2 floors...,4938,8000000.0
2054,2 BHK Villa for Sale in Dandi Road Surat,Carpet Area,800,Resale,Ready to Move,Resale,Semi-Furnished,"Pool, Garden/Park, Main Road",Discover your ideal 2 BHK home for sale in the...,4789,5100000.0
2070,4 BHK House for Sale in Adajan Surat,Carpet Area,1450,Resale,Ready to Move,Resale,Semi-Furnished,Main Road,"only 1000 rupees maintenance yearly, 2 more fl...",5310,7700000.0
2105,2 BHK Apartment for Sale in Palanpur Gam Surat,Carpet Area,700,New Property,Ready to Move,New Property,Unfurnished,Main Road,They provide 2BHK apartments with all necessit...,4300,5200000.0
3121,3 BHK House for Sale in Adajan Surat,Super Area,85,Resale,Ready to Move,Resale,Unfurnished,3,Residential House is made upto 2 floors. The...,15033,0.0
3672,Plot/Land for Sale in Udhana Surat,NaN,3000,New Property,110 X 27.27,Freehold,5,2,east facing open plot 5 floors constuction per...,11000,0.0
3754,7 BHK House for Sale in Parley Point Surat,Super Area,320,Resale,Ready to Move,Resale,Furnished,NaN,Residential House is made upto 3 floors. The...,24306,0.0
3769,Office Space for Sale in Khatodra Wadi Surat,Super Area,6000,Resale,Ready to Move,Resale,NaN,NaN,Unlock a remarkable opportunity with this spac...,8333,0.0
3810,5 BHK House for Sale in Shanti Palace Surat,Super Area,128,Resale,Ready to Move,-1 out of 3,Semi-Furnished,5,Residential House is made upto 3 floors. The...,13108,0.0
3850,Industrial Building for Sale in Sachin GIDC S...,Super Area,40,Resale,Ready to Move,Resale,NaN,NaN,Thoughtfull constructed a 2 storey industrial ...,100928,0.0
3854,4 BHK House for Sale in Vesu Surat,Super Area,2900,Resale,Ready to Move,Resale,Semi-Furnished,4,This spacious Residential House has total 2 f...,11379,0.0

In [ ]:
import re
import numpy as np
import pandas as pd

# Function to extract floor from description based on "is made upto number floors"
def extract_floor_from_description(description):
    # Search for the pattern "is made upto number floors"
    match = re.search(r'is made upto (\d+)\s*floors?', str(description), re.IGNORECASE)
    if match:
        number_of_floors = match.group(1)  # Extract the number of floors
        return f"{number_of_floors} out of {number_of_floors}"  # Return as "number out of number"
    return np.nan  # Return NaN if no match is found

# Function to extract top floor number from description
def extract_top_floor_from_description(description):
    # Search for the pattern "on the top floor of a number-floor"
    match = re.search(r'on the top floor of a (\d+)-floor', str(description), re.IGNORECASE)
    if match:
        top_floor = match.group(1)  # Extract the number of the top floor
        return f"{top_floor} out of {top_floor}"  # Return as "number out of number"
    return np.nan  # Return NaN if no match is found

# Function to combine both extraction logic
def extract_floor(description):
    # Try to extract from the first pattern ("is made upto number floors")
    floor = extract_floor_from_description(description)
    if not pd.isna(floor):  # If a match is found for the first pattern
        return floor

    # If no match for the first pattern, try extracting from the second pattern ("on the top floor of a number-floor")
    return extract_top_floor_from_description(description)

# Apply the combined function to the 'description' column to fill the 'floor' column only where needed
df['floor'] = df.apply(lambda row: extract_floor(row['description']) if pd.isna(row['floor']) else row['floor'], axis=1)

# Display the updated rows where the floor was updated
updated_rows = df[df['floor'].notna()]
print(updated_rows)

                                          property_name areaWithType  \
0             2 BHK Apartment for Sale in Dindoli Surat  Carpet Area
1              2 BHK Apartment for Sale in Althan Surat   Super Area
2             2 BHK Apartment for Sale in Pal Gam Surat   Super Area
3        2 BHK Apartment for Sale in Jahangirabad Surat  Carpet Area
4     2 BHK Apartment for Sale in Orchid Fantasia, P...   Super Area
...                                                 ...          ...
4520  6 BHK Apartment for Sale in Millionaires Lifes...  Carpet Area
4521  4 BHK Apartment for Sale in Savan Superia, Alt...   Super Area
4522  5 BHK Apartment for Sale in Roongta Green Vall...  Carpet Area
4523  6 BHK Apartment for Sale in Cellestial Dreams,...  Carpet Area
4524  4 BHK Apartment for Sale in Roongta Green Vall...   Super Area

      square_feet   transaction              status        floor  \
0             644  New Property  Under Construction  5 out of 10
1            1278  New Property  Under Construction  6 out of 14
2            1173        Resale       Ready to Move  5 out of 13
3             700  New Property       Ready to Move  6 out of 14
4            1250  New Property       Ready to Move  Unfurnished
...           ...           ...                 ...          ...
4520         2000  New Property  Under Construction  5 out of 12
4521         3600  New Property  Under Construction  5 out of 16
4522         2250  New Property  Under Construction  7 out of 13
4523         3450  New Property       Ready to Move  7 out of 18
4524         4500  New Property       Ready to Move  3 out of 12

          furnishing        facing  \
0        Unfurnished          West
1        Unfurnished   South -West
2     Semi-Furnished          East
3        Unfurnished          East
4                  2             2
...              ...           ...
4520     Unfurnished  South - East
4521     Unfurnished  South - East
4522     Unfurnished  North - East
4523     Unfurnished  North - West
4524     Unfurnished         North

                                            description price_per_sqft  \
0     Luxury project with basement parking, Solar ro...           2891
1     2 And 3 BHK Luxurious Flat for Sell In New Alt...           3551
2     This affordable 2 BHK flat is situated along a...           3800
3     2 BHK Flat For sell IN Jahangirabad Prime Loca...           3966
4     Multistorey Apartment for Sale in Palanpur, Su...           3600
...                                                 ...            ...
4520  Check out Millionaires Lifestyle in Vesu, one ...            NaN
4521  Superia is a premium residential project launc...            NaN
4522  When it comes to beautiful homes, nothing beat...            NaN
4523  DRB Ravani Cellestial Dreams in Vesu, Surat is...            NaN
4524  Roongta Green Valley is one of the popular res...            NaN

          price
0     3380000.0
1     4540000.0
2     4460000.0
3     4700000.0
4     4500000.0
...         ...
4520        0.0
4521        0.0
4522        0.0
4523        0.0
4524        0.0

[4481 rows x 11 columns]

In [ ]:
# Count the rows where the 'floor' column does not match the pattern "number out of number"
non_matching_floor_count = df[~df['floor'].astype(str).str.match(r'^-?\d+\s*out\s*of\s*-?\d+$', na=False)].shape[0]

# Display the count
print(f"Count of rows where 'floor' is not in the 'number out of number' format: {non_matching_floor_count}")

Count of rows where 'floor' is not in the 'number out of number' format: 783

In [ ]:
# Get the unique values in the 'floor' column that do not match the pattern "number out of number"
non_matching_floor_categories = df[~df['floor'].astype(str).str.match(r'^-?\d+\s*out\s*of\s*-?\d+$', na=False)]['floor'].unique()

# Display the categories
print("Categories in 'floor' column that do not match the 'number out of number' format:")
print(non_matching_floor_categories)

Categories in 'floor' column that do not match the 'number out of number' format:
['Unfurnished' 'New Property' 'Resale' 'Freehold' nan 'Furnished' 'Congo'
 '3' '1' '2' 'No' 'Yes' 'Semi-Furnished' 'Other' 'The Polaris Avenue'
 'Co-operative Society' 'Om Residency' 'Milestone Regalia' '5']

In [ ]:
filtered_rows = df[df['floor'].isin(['3', '1', '2'])]

filtered_rows

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
189,Plot/Land for Sale in Silver park plot no 1 ...,NaN,2493,Resale,Ready to Move,3,NaN,NaN,NaN,309,770000.0
193,Plot/Land for Sale in Palsana Surat,NaN,648,Resale,Ready to Move,3,NaN,NaN,NaN,3086,2000000.0
204,Plot/Land for Sale in Kim Surat,NaN,650,Resale,Ready to Move,3,NaN,NaN,NaN,1846,1200000.0
238,Plot/Land for Sale in Sayan Surat,NaN,860,Resale,Ready to Move,3,NaN,NaN,NaN,1744,1500000.0
254,Plot/Land for Sale in Masma Village Surat,NaN,927,Resale,Ready to Move,3,NaN,NaN,NaN,1942,1800000.0
324,1 BHK House for Sale in Jolva Surat,NaN,0,NaN,2,1,NaN,NaN,NaN,NaN,1200000.0
346,Plot/Land for Sale in Maroli Surat,NaN,963,Resale,Ready to Move,2,NaN,NaN,NaN,987,950000.0
361,Plot/Land for Sale in Pandesara Surat,NaN,420,Resale,Ready to Move,1,NaN,NaN,Embark on a journey of endless possibilities w...,3333,1400000.0
422,Plot/Land for Sale in Masma Village Surat,NaN,1251,Resale,Ready to Move,3,NaN,NaN,NaN,2798,3500000.0
425,Plot/Land for Sale in Hajira Surat,NaN,1287,Resale,Ready to Move,1,NaN,NaN,NaN,3885,5000000.0
477,Plot/Land for Sale in Gangadhara Surat,NaN,420,Resale,Ready to Move,1,NaN,NaN,NaN,1667,700000.0
506,Plot/Land for Sale in Kosamba Surat,NaN,2520,Resale,Ready to Move,1,No,NaN,"Superb location, great for residential purpos...",714,1800000.0
581,Plot/Land for Sale in Maroli Surat,NaN,963,Resale,Ready to Move,2,NaN,NaN,NaN,1038,1000000.0
642,Plot/Land for Sale in Olpad Surat,NaN,648,Resale,Ready to Move,2,NaN,NaN,NaN,1080,700000.0
658,Plot/Land for Sale in Olpad Sayan Road Surat,NaN,873,Resale,Ready to Move,3,NaN,NaN,NaN,1718,1500000.0
684,Plot/Land for Sale in Masma Village Surat,NaN,721,Resale,Ready to Move,2,30 m,No,Residential plot is available for sale. It has...,1941,1400000.0
689,Plot/Land for Sale in Olpad Surat,NaN,72,Resale,Ready to Move,3,NaN,NaN,NaN,15278,1100000.0
707,Plot/Land for Sale in Kosamba Surat,NaN,1857,Resale,Ready to Move,2,NaN,NaN,NaN,781,1450000.0
784,Plot/Land for Sale in Olpad Surat,NaN,800,Resale,Ready to Move,2,NaN,NaN,Exclusive plot available for immediate sale a...,1500,1200000.0
790,Plot/Land for Sale in Olpad Sayan Road Surat,NaN,1116,Resale,Ready to Move,3,NaN,NaN,NaN,1747,1950000.0
791,"Plot/Land for Sale in Aastha developers , Ol...",NaN,648,Resale,Ready to Move,3,NaN,NaN,NaN,926,600000.0
863,Plot/Land for Sale in Masma Village Surat,NaN,810,Resale,Ready to Move,1,No,NaN,A residential plot is available for sale. It h...,1790,1450000.0
869,Plot/Land for Sale in Pal Gam Surat,NaN,567,Resale,Ready to Move,3,NaN,NaN,NaN,7496,4250000.0
884,Plot/Land for Sale in Masma Surat,NaN,918,Resale,Ready to Move,3,12 m,No,"Superb location, great for residential purpos...",2179,2000000.0
918,Plot/Land for Sale in Bhestan Surat,NaN,738,Resale,Ready to Move,2,No,NaN,"Superb location, great for residential purpos...",2710,2000000.0
931,Plot/Land for Sale in Kareli Surat,NaN,684,Resale,Ready to Move,3,NaN,NaN,NaN,1462,1000000.0
996,Plot/Land for Sale in Olpad Surat,NaN,720,Resale,Ready to Move,2,NaN,NaN,NaN,1944,1400000.0
1030,Plot/Land for Sale in Olpad Surat,NaN,69970,Resale,Ready to Move,3,NaN,NaN,"Superb location, great for residential purpos...",NaN,0.0
1256,Plot/Land for Sale in Olpad Surat,NaN,648,Resale,Ready to Move,3,NaN,NaN,NaN,1080,700000.0
1533,Plot/Land for Sale in Adajan Surat,NaN,855,Resale,Ready to Move,3,NaN,NaN,95 Sq-yrd Residential Plot is available for Sa...,9357,8000000.0
1759,Plot/Land for Sale in Hajira Surat,NaN,1287,Resale,Ready to Move,1,NaN,NaN,NaN,3885,5000000.0
1839,Plot/Land for Sale in Vesu Canal Road Surat,NaN,612,Resale,Ready to Move,1,NaN,NaN,NaN,11111,6800000.0
2076,Plot/Land for Sale in Adajan Surat,NaN,1278,Resale,Ready to Move,3,NaN,NaN,NaN,6260,8000000.0
3043,Plot/Land for Sale in Althan Surat,NaN,1674,Resale,Ready to Move,3,NaN,NaN,186 Sq-yrd Residential Plot is available for S...,7885,0.0
3076,Plot/Land for Sale in New Magdalla Surat,NaN,1422,Resale,Ready to Move,1,NaN,NaN,158 Sq-yrd Residential Plot is available for S...,9142,0.0
3120,Plot/Land for Sale in National Highway 8 Surat,NaN,3528,Resale,Ready to Move,2,6 m,Yes,Corner location makes this Residential Plot a...,2889,0.0
3153,Plot/Land for Sale in Pal Surat,NaN,1503,Resale,Ready to Move,3,NaN,NaN,NaN,8889,0.0
3670,Plot/Land for Sale in Vesu Surat,NaN,1530,Resale,Ready to Move,3,NaN,NaN,170 Sq-yrd Residential Plot is available for S...,14706,0.0
3694,Plot/Land for Sale in Umra Surat,NaN,1980,Resale,Ready to Move,2,NaN,NaN,220 Sq-yrd Residential Plot is available for S...,11111,0.0

if ['3', '1', '2'] is plot or land will create feature engineering

In [ ]:
df.isna().sum()

property_name        0
areaWithType       254
square_feet          0
transaction         26
status               0
floor               43
furnishing         339
facing             588
description       1370
price_per_sqft     367
price                0
dtype: int64

In [ ]:
# Count the rows where 'floor' is 'New Property' or 'Resale'
count_new_property_resale = df[df['floor'].isin(['New Property', 'Resale'])].shape[0]

# Display the count
print(f"Count of rows where 'floor' is 'New Property' or 'Resale': {count_new_property_resale}")

Count of rows where 'floor' is 'New Property' or 'Resale': 607

In [ ]:
# Fill 'transaction' with the value from 'floor' where 'floor' is 'New Property' or 'Resale'
df.loc[df['floor'].isin(['New Property', 'Resale']), 'transaction'] = df['floor']

In [ ]:

def standardize_floor(value):
    value = str(value).strip()
    if re.match(r'^Ground\s+out\s+of\s+\d+$', value, re.IGNORECASE):
        number = re.search(r'\d+', value).group()
        return f'0 out of {number}'
    elif re.match(r'^Lower Basement\s+out\s+of\s+\d+$', value, re.IGNORECASE):
        number = re.search(r'\d+', value).group()
        return f'-1 out of {number}'
    elif re.match(r'^Upper Basement\s+out\s+of\s+\d+$', value, re.IGNORECASE):
        number = re.search(r'\d+', value).group()
        return f'-2 out of {number}'
    elif value.lower() == 'ground':
        return '0'
    else:
        return value

# Apply the function
df['floor'] = df['floor'].apply(standardize_floor)

# See some examples
print(df['floor'].sample(10))

1840     1 out of 10
518      -2 out of 4
3472     6 out of 13
2384     5 out of 13
2947     8 out of 14
396       0 out of 2
693       4 out of 4
3058    New Property
4065     5 out of 13
3065      1 out of 1
Name: floor, dtype: object

## furnishing

In [ ]:
print(df['furnishing'].unique())

['Unfurnished' 'Semi-Furnished' '2' '1' 'Furnished' nan '3' '1 Covered,'
 '2 Covered' '1 Covered' '26 Covered' 'No' '6' '> 10' '4' '10 Open'
 '5 Covered,' '7 m' '30 m' '50 Covered,' 'Main Road' '1 Open' '12 m' 'Yes'
 '2 Covered,' 'Congo' 'Vaishnodevi Ideal Homes' '100 Covered' 'West'
 '5 Covered' '5' '50 Open' '20 m' '20 Open' '10 m' '3 Covered' '2 Open'
 '6 m' '15 m' '10 Covered,']

In [ ]:
def fill_facing(row):
    if pd.isna(row['facing']):
        if row['furnishing'] in ['East','West','North', 'North - East', 'South -West', 'South - East', 'North - West']:
            return row['furnishing']
    return row['facing']

df['facing'] = df.apply(fill_facing, axis=1)

In [ ]:
furnishing_counts = df['furnishing'].value_counts()

print("\nCount of each unique value in ")
print(furnishing_counts)

Count of each unique value in
furnishing
Unfurnished                2726
Semi-Furnished              582
Furnished                   526
1                           109
2                            80
3                            37
1 Covered                    25
1 Open                       15
No                           14
4                             9
2 Covered                     8
1 Covered,                    6
2 Open                        5
5                             5
2 Covered,                    5
Congo                         3
100 Covered                   2
6 m                           2
3 Covered                     2
Yes                           2
> 10                          2
30 m                          2
6                             2
12 m                          1
Main Road                     1
7 m                           1
50 Covered,                   1
5 Covered,                    1
10 Open                       1
26 Covered                    1
Vaishnodevi Ideal Homes       1
50 Open                       1
5 Covered                     1
West                          1
20 m                          1
10 m                          1
20 Open                       1
15 m                          1
10 Covered,                   1
Name: count, dtype: int64

In [ ]:
df['furnishing'] = df['furnishing'].astype(str)

df['furnishing'] = df['furnishing'].replace('1', 'Furnished')

In [ ]:
df['furnishing'] = df['furnishing'].replace('Yes', 'Furnished')

In [ ]:
df['furnishing'] = df['furnishing'].astype(str)

df['furnishing'] = df['furnishing'].replace('No', 'Unfurnished')

In [ ]:
df['furnishing'].value_counts()

furnishing
Unfurnished                2740
Furnished                   637
Semi-Furnished              582
nan                         339
2                            80
3                            37
1 Covered                    25
1 Open                       15
4                             9
2 Covered                     8
1 Covered,                    6
5                             5
2 Covered,                    5
2 Open                        5
Congo                         3
6 m                           2
3 Covered                     2
30 m                          2
100 Covered                   2
> 10                          2
6                             2
12 m                          1
Main Road                     1
50 Covered,                   1
7 m                           1
10 Open                       1
5 Covered,                    1
26 Covered                    1
Vaishnodevi Ideal Homes       1
50 Open                       1
5 Covered                     1
West                          1
20 m                          1
10 m                          1
20 Open                       1
15 m                          1
10 Covered,                   1
Name: count, dtype: int64

In [ ]:
# Define the valid furnishing types
valid_furnishings = ['Unfurnished', 'Furnished', 'Semi-Furnished']

# Filter rows where furnishing is NOT in the valid list
invalid_furnishings = df[~df['furnishing'].isin(valid_furnishings)]

# Display
invalid_furnishings

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250,New Property,Ready to Move,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...",3600,4500000.0
8,"2 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1180,New Property,Ready to Move,Unfurnished,2,2,"Multistorey Apartment for Sale in Palanpur, Su...",3751,4430000.0
16,Shop for Sale in Moti Begumwadi Surat,Carpet Area,180,Resale,Ready to Move,3 out of 3,nan,NaN,"4056,Hari om Textile Market, Ring Road, Near R...",14728,2650000.0
24,Shop for Sale in Ghod Dod Road Surat,Carpet Area,350,Resale,Ready to Move,-2 out of 7,nan,NaN,Commercial Shop is available for Sale in Gho...,12857,4500000.0
37,Plot/Land for Sale in Bhatpore Surat,NaN,120,Resale,Ready to Move,Resale,2,Garden/Park,120 Sq-ft Residential Plot is available for Sa...,35000,4200000.0
...,...,...,...,...,...,...,...,...,...,...,...
4282,Showroom for Sale in Vesu Canal Road Surat,Carpet Area,800,New Property,Under Construction,0 out of 6,2 Covered,NaN,NaN,25000,0.0
4300,Plot/Land for Sale in Piplod Surat,NaN,1683,Resale,144 X 105,Co-operative Society,2,8 m,"near temple, school, multiplex,",12181,0.0
4306,Plot/Land for Sale in Vesu Surat,NaN,1260,Resale,Ready to Move,Resale,2,15 m,NaN,15079,0.0
4317,Plot/Land for Sale in Vesu Surat,NaN,2700,Resale,Ready to Move,Resale,2,15 m,NaN,14444,0.0
4389,Office Space for Sale in Ghod Dod Road Surat,Carpet Area,1320,Resale,Ready to Move,3 out of 8,1 Open,1,The above mentioned office space is 2400 sq.Ft...,NaN,0.0

In [ ]:
df.isna().sum()

property_name        0
areaWithType       254
square_feet          0
transaction         26
status               0
floor                0
furnishing           0
facing             588
description       1370
price_per_sqft     367
price                0
dtype: int64

filling missing price_per_sqft

In [ ]:
# Fill missing price_per_sqft with price / square_feet
mask = df['price_per_sqft'].isna() & df['price'].notna() & df['square_feet'].notna()

df.loc[mask, 'price_per_sqft'] = df.loc[mask, 'price'] / df.loc[mask, 'square_feet']

In [ ]:
filled_count = mask.sum()

print(f"Number of rows where 'price_per_sqft' was filled: {filled_count}")

Number of rows where 'price_per_sqft' was filled: 367

In [ ]:
furnishing_types = ['Unfurnished', 'Furnished', 'Semi-Furnished']

# Function to detect and correct furnishing
def correct_furnishing_from_description(row):
    if row['furnishing'] not in furnishing_types:
        description = str(row['description']).lower()
        for f_type in furnishing_types:
            if re.search(f_type.lower().replace('-', '[- ]?'), description):  # Handle both hyphen and space variations
                row['furnishing'] = f_type
                break
    return row

df = df.apply(correct_furnishing_from_description, axis=1)

In [ ]:
valid_furnishings = ['Unfurnished', 'Furnished', 'Semi-Furnished']

def fix_furnishing(row):
    if row['floor'] in valid_furnishings and row['furnishing'] not in valid_furnishings:
        row['furnishing'] = row['floor']  # Move the value from floor to furnishing
    return row

df = df.apply(fix_furnishing, axis=1)

In [ ]:
valid_values = ['Furnished', 'Unfurnished', 'Semi-Furnished']
df['furnishing'] = df['furnishing'].apply(lambda x: x if x in valid_values else np.nan)

print("\nUnique values after replacement:")
print(df['furnishing'].unique())

Unique values after replacement:
['Unfurnished' 'Semi-Furnished' 'Furnished' nan]

## facing

In [ ]:
print(df['facing'].unique())

['West' 'South -West' 'East' '2' 'Main Road' nan 'North - East'
 'South - East' '1' 'Freehold' 'Garden/Park' '3' 'North - West' 'South'
 '6' 'Co-operative Society' 'Garden/Park, Main Road' '1 Covered' 'No'
 '30 m' 'North' 'Varni Siddheshwar Heights' '5' 'Salasar Icon'
 'Green Valley' 'Shyam enclave' 'Rajhans Platinum' 'Vitthal Bunglows'
 '1 Open' 'Royal Nest' 'Rajhans Wings' '2 Open'
 'Gordhan Green Valley Mangalam Park Bldg S' 'Apt Swaminagar Society'
 'Swagat Clifton' 'Akash' 'Green Arcade Phase 1 And 2' 'Satyam Tower' '4'
 'Suryanjali Residency' 'GHB Mukhya Mantri Gruh Yojana' 'Vibrant Eco Park'
 'Madhav Residency' 'Shiv Drashti Residency' 'Gruham Luxuria'
 'SHANKHESHWER COMPLAX' 'JT Stuti Highland' 'Times Galaxy' '100 m'
 'Savani Prayosha Pride' 'Shayona Janki Residency' 'Sundaram Residency'
 '6 m' 'Silicon Palm' 'Raj Abhishek City Homes' 'Dhvani Royal Residency'
 'Residency' 'Pan Sharanam' 'Gruham Royal Park' 'Rajhans Swapna'
 'Panchtatva Residency' 'Manvay Residency' 'Prayosha Shine' 'Yes'
 'Swapna Villa 2 Phase 2' 'Green City' 'Rajhans Apple' 'Sai Residency'
 'Anjani Enclave' 'Shakuntal Complex' '2 Covered' 'Galaxy Imperia'
 'Pool, Garden/Park, Main Road' 'Silver Plaza Complex' 'Swami Twin City 5'
 'Majura Gate Surat' 'Orchid Greens' 'Aditya Vrundavan Heights' 'Pool'
 '900 m' 'Vaishnodevi Amour Jahagirabad' 'Shantam Apartment'
 'Siddhi Vinayak Green' '20 m' 'Ambika Heaven' '10 m' 'MD Om Palace'
 'Global City' 'Maa Krupa Residency Society'
 'Man Sarovar Residency and Plaza' 'Bella Casaa'
 'Shree Tirupati Balaji Town' 'Aagam Navkar' 'Omkar Residency'
 'Nova Complex' '25 m' 'Amber Palace' '1 Covered,'
 'Vaishnodevi Ideal Homes' '7 m' '45 X 14 ft Sqft' 'Santvan Lexon'
 'Atlanta Sky Desk' 'Nakshatra Platinum' 'Siddhi Vinayak Heights'
 'Coral Heights' 'Aakash Homes' 'Nandini 3' 'Sundaram Status'
 'Happy Elegance' 'Dream World Residency' 'Raghuvir Saffron'
 'Vasant Vihar Township' 'Kalpavruksha Garden' 'Ashirwad Enclave'
 'Jolly Residency' '9' 'Stylome Heights' 'Marvella Residency'
 'Meera Avenue' 'Garden/Park, Pool' 'Rajhans Orange' 'Rajhans Synfonia'
 'Sat Aria' 'Lake Castle' 'Raghuvir Sentosa Heights' 'Shalibhadra Complex'
 'Shiv Shrungal Solitaire' 'Sangini Gardenia' 'Green Leaf'
 'Pooja Aagam Cross Roads' '7' 'Nakshatra Nebula' 'Peak Living'
 'Prasidhi Apartment' 'Nandini 1' 'Soham Residency' 'Pool, Garden/Park'
 'Shreepad Ethics' '15 m' '12 m' 'Eco Parkside'
 'Garden/Park, Pool, Main Road' '2 m' 'Santvan Seron' 'Nakshatra Galaxia'
 '150 m' 'Oliva Height' 'Mahaveer Nagar' '4 m' 'Shreepad Infinia'
 'Bilvam Regency' 'Palladium Sky' '3 Covered' 'Prestige manor'
 'Green City Gold' 'Meera Park' 'Aagam Paramount' 'Sumeru Golden Leaf'
 'Avadh Shangrila' '45 X' 'Rajhans Cremona' 'Atithi Western Oasis'
 'Harmony' 'Cellestial Dreams' 'Nandanvan III' 'aventis ofira'
 'Samarth Enclave' 'Happy Home Capital Greens' 'Shaligram The Emerald'
 '135 X' '131 X' 'Vesu Point' '8 m' '1 m' 'Power Of Attorney' '20275 m']

In [ ]:
df['facing'] = df['facing'].replace('South -West', 'South - West')

In [ ]:
valid_values = [
    'North', 'North - East', 'East', 'South - East',
    'South', 'South - West', 'West', 'North - West'
]

df['facing'] = df['facing'].apply(lambda x: x if x in valid_values else np.nan)

print("\nUnique values after replacement:")
print(df['facing'].unique())

Unique values after replacement:
['West' 'South - West' 'East' nan 'North - East' 'South - East'
 'North - West' 'South' 'North']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4524 entries, 0 to 4524
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   4524 non-null   object
 1   areaWithType    4270 non-null   object
 2   square_feet     4524 non-null   int64
 3   transaction     4498 non-null   object
 4   status          4524 non-null   object
 5   floor           4524 non-null   object
 6   furnishing      3993 non-null   object
 7   facing          2382 non-null   object
 8   description     3154 non-null   object
 9   price_per_sqft  4524 non-null   object
 10  price           4524 non-null   float64
dtypes: float64(1), int64(1), object(9)
memory usage: 553.2+ KB

# Golden Layer

In [ ]:
gdf = df.copy()

## Property Name

In [ ]:
gdf['property_name'].unique()

array(['2 BHK Apartment for Sale in Dindoli Surat',
       '2 BHK Apartment for Sale in Althan Surat',
       '2 BHK Apartment for Sale in Pal Gam Surat', ...,
       '5 BHK Apartment for Sale in Sangini Arise, Bharthana Surat',
       '5 BHK Apartment for Sale in D and M Elysium Avenue, Piplod Surat',
       '6 BHK Apartment for Sale in Millionaires Lifestyle, Vesu Surat'],
      dtype=object)

In [ ]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4524 entries, 0 to 4524
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   4524 non-null   object
 1   areaWithType    4270 non-null   object
 2   square_feet     4524 non-null   int64
 3   transaction     4498 non-null   object
 4   status          4524 non-null   object
 5   floor           4524 non-null   object
 6   furnishing      3993 non-null   object
 7   facing          2382 non-null   object
 8   description     3154 non-null   object
 9   price_per_sqft  4524 non-null   object
 10  price           4524 non-null   float64
dtypes: float64(1), int64(1), object(9)
memory usage: 553.2+ KB

In [ ]:
# Function to extract only bhk, property_type, locality, and city
def extract_main_features(name):
    name = str(name)

    # Extract BHK
    bhk_match = re.search(r'(\d+)\s*BHK', name, re.IGNORECASE)
    bhk = int(bhk_match.group(1)) if bhk_match else None

    # Extract property type (Apartment, Villa, Plot, etc.)
    type_match = re.search(r'BHK\s*(.*?)\s*for sale', name, re.IGNORECASE)
    property_type = type_match.group(1).strip() if type_match else None

    # Extract locality (after "for Sale in")
    locality = None
    city = None

    area_match = re.search(r'for sale in (.+)', name, re.IGNORECASE)
    if area_match:
        area_info = area_match.group(1).strip()
        parts = area_info.split()
        if len(parts) > 1:
            locality = " ".join(parts[:-1])
            city = parts[-1]
        else:
            locality = area_info
            city = "Surat"  # default

    return pd.Series({
        'bhk': bhk,
        'property_type': property_type,
        'locality': locality,
        'city': city if city else "Surat"
    })

gdf_extracted = gdf['property_name'].apply(extract_main_features)

gdf = pd.concat([gdf, gdf_extracted], axis=1)

In [ ]:
gdf.head()

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price,bhk,property_type,locality,city
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644,New Property,Under Construction,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...",2891,3380000.0,2.0,Apartment,Dindoli,Surat
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278,New Property,Under Construction,6 out of 14,Unfurnished,South - West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,3551,4540000.0,2.0,Apartment,Althan,Surat
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173,Resale,Ready to Move,5 out of 13,Semi-Furnished,East,This affordable 2 BHK flat is situated along a...,3800,4460000.0,2.0,Apartment,Pal Gam,Surat
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700,New Property,Ready to Move,6 out of 14,Unfurnished,East,2 BHK Flat For sell IN Jahangirabad Prime Loca...,3966,4700000.0,2.0,Apartment,Jahangirabad,Surat
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250,New Property,Ready to Move,Unfurnished,Unfurnished,NaN,"Multistorey Apartment for Sale in Palanpur, Su...",3600,4500000.0,2.0,Apartment,"Orchid Fantasia, Palanpur",Surat

## Transacion Type Standardizaion

In [ ]:
print(gdf['transaction'].unique())

['New Property' 'Resale' nan]

In [ ]:
# Filter rows where 'transaction' is NaN
nan_transaction_rows = gdf[gdf['transaction'].isna()]

# Display the rows
nan_transaction_rows

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price,bhk,property_type,locality,city
136,1 BHK Apartment for Sale in Vesu Surat,Carpet Area,500,NaN,Ready to Move,4 out of 8,Unfurnished,NaN,"1 BHK, Multistorey Apartment is available for ...",3200.0,1600000.0,1.0,Apartment,Vesu,Surat
171,1 BHK Apartment for Sale in Thane Dombivali Surat,Carpet Area,405,NaN,Ready to Move,Furnished,Furnished,NaN,NaN,8148.148148,3300000.0,1.0,Apartment,Thane Dombivali,Surat
324,1 BHK House for Sale in Jolva Surat,NaN,0,NaN,2,1,NaN,NaN,NaN,inf,1200000.0,1.0,House,Jolva,Surat
440,2 BHK Villa for Sale in Vkhome near madav resi...,Carpet Area,648,NaN,Ready to Move,Unfurnished,Unfurnished,NaN,NaN,3703.703704,2400000.0,2.0,Villa,Vkhome near madav residency tatithiya gam kado...,Surat
512,3 BHK Villa for Sale in Rushi nagar society Go...,Carpet Area,1100,NaN,Ready to Move,Semi-Furnished,Semi-Furnished,NaN,NaN,2272.727273,2500000.0,3.0,Villa,Rushi nagar society Godadar,Surat
570,"2 BHK Apartment for Sale in Vinayak Enclave, D...",Carpet Area,897,NaN,Ready to Move,2 out of 5,Furnished,NaN,NaN,2564.102564,2300000.0,2.0,Apartment,"Vinayak Enclave, Dindoli",Surat
681,"2 BHK Apartment for Sale in Palanpur ,Canal ro...",Carpet Area,1246,NaN,Ready to Move,4 out of 12,Semi-Furnished,NaN,NaN,4012.841091,5000000.0,2.0,Apartment,"Palanpur ,Canal road",Surat
734,2 BHK Apartment for Sale in Gardenview complex...,Carpet Area,1190,NaN,Ready to Move,7 out of 7,Semi-Furnished,NaN,NaN,3361.344538,4000000.0,2.0,Apartment,Gardenview complex honeypark Road adajan,Surat
772,2 BHK Apartment for Sale in Thane Surat,Carpet Area,780,NaN,Ready to Move,Other,Semi-Furnished,NaN,Multistorey apartment is available for sale. I...,4487.179487,3500000.0,2.0,Apartment,Thane,Surat
895,"2 BHK Apartment for Sale in JAHANGIRABAD, UGAT...",Carpet Area,512,NaN,Ready to Move,2 out of 13,Semi-Furnished,NaN,NaN,3027.34375,1550000.0,2.0,Apartment,"JAHANGIRABAD, UGAT BHESAN ROAD",Surat
1049,1 BHK Apartment for Sale in K.P.AVENUE near Ra...,Carpet Area,900,NaN,Ready to Move,2 out of 5,Unfurnished,NaN,NaN,0.0,0.0,1.0,Apartment,"K.P.AVENUE near Ram chock , New Mehta wad near...",Surat
1055,2 BHK Apartment for Sale in Mangaltirth Apartm...,Carpet Area,1000,NaN,Ready to Move,1 out of 7,Semi-Furnished,NaN,Multistorey apartment is available for sale. I...,0.0,0.0,2.0,Apartment,Mangaltirth Apartment Adajan,Surat
1077,1 BHK Apartment for Sale in Olpad Surat,Carpet Area,450,NaN,Ready to Move,2 out of 5,Unfurnished,NaN,NaN,0.0,0.0,1.0,Apartment,Olpad,Surat
1114,2 BHK Apartment for Sale in Bhestan Surat,Carpet Area,1150,NaN,Ready to Move,3 out of 10,Unfurnished,NaN,NaN,0.0,0.0,2.0,Apartment,Bhestan,Surat
1128,1 BHK Apartment for Sale in Sayan Surat,Carpet Area,650,NaN,Ready to Move,3 out of 5,Semi-Furnished,NaN,NaN,0.0,0.0,1.0,Apartment,Sayan,Surat
1255,1 BHK Apartment for Sale in Pandesara Surat,Carpet Area,650,NaN,Ready to Move,4 out of 4,Semi-Furnished,NaN,NaN,2153.846154,1400000.0,1.0,Apartment,Pandesara,Surat
1719,Office Space for Sale in Ghod Dod Road Surat,Super Area,650,NaN,Under Construction,2 out of 3,NaN,NaN,NaN,12000,7800000.0,NaN,None,Ghod Dod Road,Surat
1769,2 BHK Apartment for Sale in Anand Mahal Road S...,Carpet Area,955,NaN,Ready to Move,3 out of 7,Furnished,NaN,NaN,5759.162304,5500000.0,2.0,Apartment,Anand Mahal Road,Surat
1793,3 BHK Apartment for Sale in Behind kalamandir ...,Carpet Area,1751,NaN,Ready to Move,Furnished,Furnished,NaN,NaN,4568.817818,8000000.0,3.0,Apartment,"Behind kalamandir jwellers, ghoad dod road",Surat
1908,"2 BHK Apartment for Sale in Palanpur ,Canal ro...",Carpet Area,1246,NaN,Ready to Move,4 out of 12,Semi-Furnished,NaN,NaN,4012.841091,5000000.0,2.0,Apartment,"Palanpur ,Canal road",Surat
1909,3 BHK Apartment for Sale in Vesu Surat,Carpet Area,1919,NaN,Ready to Move,7 out of 12,Unfurnished,NaN,NaN,0.0,0.0,3.0,Apartment,Vesu,Surat
3048,4 BHK Villa for Sale in JT Nagar Surat,Carpet Area,2000,NaN,Ready to Move,1 out of 1,NaN,NaN,"4 BHK, Villa is available for Sale in JT Nagar...",0.0,0.0,4.0,Villa,JT Nagar,Surat
3066,3 BHK Apartment for Sale in Surat Surat,Carpet Area,1934,NaN,Ready to Move,11 out of 13,Furnished,NaN,"3 BHK, Multistorey Apartment is available for ...",0.0,0.0,3.0,Apartment,Surat,Surat
3103,3 BHK Apartment for Sale in Palanpor Canal Roa...,Carpet Area,1955,NaN,Ready to Move,10 out of 14,Furnished,NaN,"3 BHK, Multistorey Apartment is available for ...",0.0,0.0,3.0,Apartment,Palanpor Canal Road,Surat
3146,3 BHK Apartment for Sale in Vesu Surat,Carpet Area,1919,NaN,Ready to Move,7 out of 12,Unfurnished,NaN,NaN,0.0,0.0,3.0,Apartment,Vesu,Surat
3671,4 BHK Villa for Sale in JT Nagar Surat,Carpet Area,2000,NaN,Ready to Move,1 out of 1,NaN,NaN,"4 BHK, Villa is available for Sale in JT Nagar...",0.0,0.0,4.0,Villa,JT Nagar,Surat

In [ ]:
def standardize_transaction_type(x):
    if isinstance(x, str):
        x = x.strip().title()
        if 'New' in x:
            return 'New Property'
        elif 'Resale' in x:
            return 'Resale'
    return None

gdf['transaction_standardized'] = gdf['transaction'].apply(standardize_transaction_type)

In [ ]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4524 entries, 0 to 4524
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   property_name             4524 non-null   object
 1   areaWithType              4270 non-null   object
 2   square_feet               4524 non-null   int64
 3   transaction               4498 non-null   object
 4   status                    4524 non-null   object
 5   floor                     4524 non-null   object
 6   furnishing                3993 non-null   object
 7   facing                    2382 non-null   object
 8   description               3154 non-null   object
 9   price_per_sqft            4524 non-null   object
 10  price                     4524 non-null   float64
 11  bhk                       3889 non-null   float64
 12  property_type             3889 non-null   object
 13  locality                  4524 non-null   object
 14  city                      4524 non-null   object
 15  transaction_standardized  4498 non-null   object
dtypes: float64(2), int64(1), object(13)
memory usage: 729.9+ KB

In [ ]:
gdf.drop(columns=['transaction'], inplace=True)

In [ ]:
gdf.head()

,property_name,areaWithType,square_feet,status,floor,furnishing,facing,description,price_per_sqft,price,bhk,property_type,locality,city,transaction_standardized
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644,Under Construction,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...",2891,3380000.0,2.0,Apartment,Dindoli,Surat,New Property
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278,Under Construction,6 out of 14,Unfurnished,South - West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,3551,4540000.0,2.0,Apartment,Althan,Surat,New Property
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173,Ready to Move,5 out of 13,Semi-Furnished,East,This affordable 2 BHK flat is situated along a...,3800,4460000.0,2.0,Apartment,Pal Gam,Surat,Resale
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700,Ready to Move,6 out of 14,Unfurnished,East,2 BHK Flat For sell IN Jahangirabad Prime Loca...,3966,4700000.0,2.0,Apartment,Jahangirabad,Surat,New Property
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250,Ready to Move,Unfurnished,Unfurnished,NaN,"Multistorey Apartment for Sale in Palanpur, Su...",3600,4500000.0,2.0,Apartment,"Orchid Fantasia, Palanpur",Surat,New Property

In [ ]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4524 entries, 0 to 4524
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   property_name             4524 non-null   object
 1   areaWithType              4270 non-null   object
 2   square_feet               4524 non-null   int64
 3   status                    4524 non-null   object
 4   floor                     4524 non-null   object
 5   furnishing                3993 non-null   object
 6   facing                    2382 non-null   object
 7   description               3154 non-null   object
 8   price_per_sqft            4524 non-null   object
 9   price                     4524 non-null   float64
 10  bhk                       3889 non-null   float64
 11  property_type             3889 non-null   object
 12  locality                  4524 non-null   object
 13  city                      4524 non-null   object
 14  transaction_standardized  4498 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 694.5+ KB

In [ ]:
print(gdf['price_per_sqft'].unique())

['2891' '3551' '3800' ... '8512' '8200' '5756']

In [ ]:
gdf['price_per_sqft'] = pd.to_numeric(gdf['price_per_sqft'], errors='coerce')

## Standardized Total Price

In [ ]:
print(gdf['price'].unique())

[ 3380000.  4540000.  4460000.  4700000.  4500000.  4320000.  4210000.
  4410000.  4430000.  4000000.  4400000.  1250000.  5000000.  3580000.
  2650000.  4200000.  4300000.  2000000.  3700000.  2900000.  3800000.
  1300000.  4650000.  4160000.  3350000.  4250000.  4800000.  3200000.
  3500000.  4620000.  3850000.  2300000.  2400000.  2800000.  3570000.
  3650000.  3600000.  4360000.  2500000.  4100000.  2850000.   900000.
  3000000.  3950000.  2150000.  1050000.  1800000.  1000000.  2350000.
  1630000.  1350000.  4900000.  2100000.  3900000.  1600000.  2700000.
  1500000.  3990000.   750000.  1280000.   950000.  3150000.  4600000.
   600000.  3400000.  2200000.  1900000.   850000.  1100000.  1650000.
  1700000.  1400000.  3300000.  2050000.  2170000.  2750000.  1200000.
  2600000.   770000.  4480000.  3490000.  1950000.  1850000.  4850000.
  4990000.  2670000.  1820000.  2450000.  4610000.  1420000.  4750000.
   930000.   500000.   890000.  1450000.  3760000.  2550000.  2950000.
   150000.  2680000.  3100000.  2250000.  2490000.  4040000.  1530000.
   700000.  3250000.   100000.  4380000.  1440000.  1030000.  4050000.
  3480000.  3980000.  2580000.   350000.  2130000.   800000.  3810000.
  1550000.  2510000.  3790000.  2910000.   130000.  1840000.  1410000.
  2990000.  4520000.  3750000.  3270000.  1750000.  4880000.  2320000.
   450000.  2520000.  2720000.        0.  3970000.  4370000.  4950000.
   200000.  4690000.  1980000.  2690000.  2160000.  3390000.  3470000.
  4450000.  4130000.  4860000.  4550000.  4930000.  4310000.  4640000.
  4220000.  3450000.  2820000.  4280000.  4530000.  3440000.  3050000.
  4420000.  4820000.  4970000.  4780000.  3460000.  4910000.  3530000.
  4510000.  4150000.  2640000.  3720000.  4630000.  3040000.  4710000.
  4170000.  3340000.  4070000.  3680000.  4270000.  3060000.  4340000.
  3870000.  3320000.  3430000.  3920000.  4390000.  3520000.  3160000.
  4110000.  4490000.  2590000.  4230000.  2530000.  3610000.  2570000.
  4560000.  3510000.  3640000.  4240000.  4670000.  2010000.  3410000.
  1640000.  4350000.  1990000.  3820000.  3550000.  6770000.  5560000.
  9800000.  6220000.  6940000.  7000000.  5650000.  5740000.  9290000.
  5710000.  5570000.  7910000.  6520000.  8050000.  9000000.  7500000.
  5200000.  7540000.  7450000.  6930000.  6000000.  6750000.  5150000.
  6740000.  5500000.  5030000.  6630000.  8000000.  5060000.  6100000.
  5100000.  5080000.  7900000.  9100000.  8450000.  5400000.  5320000.
  5240000.  7200000.  9900000.  5600000.  8500000.  8310000.  5190000.
  5700000.  8100000.  7400000.  7850000.  6500000.  6610000.  6800000.
  5800000.  8600000.  5350000.  8300000.  8200000.  9500000.  7800000.
  7250000.  6660000.  5170000.  9070000.  8400000.  7550000.  6300000.
  5300000.  9180000.  5850000.  5550000.  7700000.  8800000.  6200000.
  9700000.  6380000.  9740000.  9200000.  6700000.  7100000.  8700000.
  7870000.  5010000.  5040000.  6830000.  9950000.  7600000.  5950000.
  9600000.  9980000.  5680000.  7940000.  9300000.  8900000.  5450000.
  9650000.  8540000.  7920000.  9400000.  5820000.  5990000.  6160000.
  6050000.  8250000.  7570000.  5620000.  9960000.  5880000.  5920000.
  7440000.  5610000.  8670000.  5310000.  9080000.  5050000.  7530000.
  5900000.  5840000.  8510000.  7990000.  6820000.  5180000.  6440000.
  6400000.  5640000.  7620000. 10000000.  8850000.  9810000.  7660000.
  8740000.  7150000.  8470000.  6020000.  6460000.  8030000.  8970000.
  6600000.  6730000.  7640000.  7300000.  7780000.  7680000.  8650000.
  6280000.  9430000.  9480000.  7190000.  7210000.  8480000.  9520000.
  6350000.  9830000.  6560000.  5250000.  6250000.  6580000.  5090000.
  7490000.  7930000.  8550000.  6540000.  7590000.  5530000.  7060000.
  9350000.  6090000.  9150000.  5940000.  8610000.  6170000.  8980000.
  8860000.  6780000.  6470000.  9050000.  6790000.  5160000.  7710000.
  6240000.  7410000.  5810000.  5870000.  6900000.  9360000.  5750000.
  8290000.  8350000.  7970000.  9040000.  7030000.  5460000.  5670000.
  9550000.  5260000.  7650000.  6960000.  8160000.  9450000.  7310000.
  7170000.  7510000.  5540000.  8890000.  8880000.  7750000.  5970000.
  8940000.  5980000.  6370000.  8210000.  6190000.  9240000.  7390000.
  5110000.  6150000.  6590000.  7040000.  5660000.  6290000.  8380000.
  9280000.  8460000.  5910000.  7820000.  6420000.  6920000.  9470000.
  5830000.  7070000.  9760000.  7580000.  5120000.  8690000.  6840000.
  7280000.  5720000.  9060000.  6550000.  8080000.  6210000.  6950000.
  9250000.  6230000.  8280000.  6080000.  7110000.  6430000.  8630000.
  6040000.  7980000.  5280000.  6120000.  6030000.  7770000.  5360000.
  7080000.  8810000.  6890000.  7240000.  8560000.  7260000.  9770000.
  5270000.  8490000.  9860000.  7890000.  7220000.  9840000.  6260000.
  5510000.  5210000.  9990000.  7630000.  9560000.  6510000.  8140000.
  7420000.  6530000.  9230000.  6060000.  7690000.  7810000.  5130000.
  6330000.  5420000.  9750000.  9930000.  5480000.  7340000.  6410000.
  6390000.  7350000.  6650000.  8750000.  8020000.  7730000.  7020000.
  6970000.  5960000.  8370000.  7180000.  6570000.  7880000.  8340000.
  5890000.  6130000.]

Already did in silver layer

In [ ]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4524 entries, 0 to 4524
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   property_name             4524 non-null   object
 1   areaWithType              4270 non-null   object
 2   square_feet               4524 non-null   int64
 3   status                    4524 non-null   object
 4   floor                     4524 non-null   object
 5   furnishing                3993 non-null   object
 6   facing                    2382 non-null   object
 7   description               3154 non-null   object
 8   price_per_sqft            4524 non-null   float64
 9   price                     4524 non-null   float64
 10  bhk                       3889 non-null   float64
 11  property_type             3889 non-null   object
 12  locality                  4524 non-null   object
 13  city                      4524 non-null   object
 14  transaction_standardized  4498 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 694.5+ KB

In [ ]:
df['square_feet'].unique()

array([ 644, 1278, 1173, ..., 2545, 5175, 2620])

## Floor Number & Total Floors

In [ ]:
gdf.head()

,property_name,areaWithType,square_feet,status,floor,furnishing,facing,description,price_per_sqft,price,bhk,property_type,locality,city,transaction_standardized
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644,Under Construction,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...",2891.0,3380000.0,2.0,Apartment,Dindoli,Surat,New Property
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278,Under Construction,6 out of 14,Unfurnished,South - West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,3551.0,4540000.0,2.0,Apartment,Althan,Surat,New Property
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173,Ready to Move,5 out of 13,Semi-Furnished,East,This affordable 2 BHK flat is situated along a...,3800.0,4460000.0,2.0,Apartment,Pal Gam,Surat,Resale
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700,Ready to Move,6 out of 14,Unfurnished,East,2 BHK Flat For sell IN Jahangirabad Prime Loca...,3966.0,4700000.0,2.0,Apartment,Jahangirabad,Surat,New Property
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250,Ready to Move,Unfurnished,Unfurnished,NaN,"Multistorey Apartment for Sale in Palanpur, Su...",3600.0,4500000.0,2.0,Apartment,"Orchid Fantasia, Palanpur",Surat,New Property

In [ ]:
import pandas as pd
import re

# Function to extract floor information
def extract_floor_info(floor_str):
    if isinstance(floor_str, str):
        match = re.match(r'(\d+)\s+out of\s+(\d+)', floor_str)  # Match the "X out of Y" pattern
        if match:
            floor_number = int(match.group(1))
            total_floors = int(match.group(2))
            return pd.Series([floor_number, total_floors])

        # If there is only one number (no "out of")
        match_single = re.match(r'(\d+)', floor_str)
        if match_single:
            floor_number = int(match_single.group(1))
            return pd.Series([floor_number, floor_number])  # Both floor_number and total_floors are the same

    return pd.Series([None, None])  # Return None if no match

# Assuming 'gdf' is your DataFrame and 'floor' is the column containing the floor information
gdf[['floor_number', 'total_floors']] = gdf['floor'].apply(extract_floor_info)

# Display the updated DataFrame with the new columns
print(gdf[['floor', 'floor_number', 'total_floors']])

            floor  floor_number  total_floors
0     5 out of 10           5.0          10.0
1     6 out of 14           6.0          14.0
2     5 out of 13           5.0          13.0
3     6 out of 14           6.0          14.0
4     Unfurnished           NaN           NaN
...           ...           ...           ...
4520  5 out of 12           5.0          12.0
4521  5 out of 16           5.0          16.0
4522  7 out of 13           7.0          13.0
4523  7 out of 18           7.0          18.0
4524  3 out of 12           3.0          12.0

[4524 rows x 3 columns]

In [ ]:
gdf.head()

,property_name,areaWithType,square_feet,status,floor,furnishing,facing,description,price_per_sqft,price,bhk,property_type,locality,city,transaction_standardized,floor_number,total_floors
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644,Under Construction,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...",2891.0,3380000.0,2.0,Apartment,Dindoli,Surat,New Property,5.0,10.0
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278,Under Construction,6 out of 14,Unfurnished,South - West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,3551.0,4540000.0,2.0,Apartment,Althan,Surat,New Property,6.0,14.0
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173,Ready to Move,5 out of 13,Semi-Furnished,East,This affordable 2 BHK flat is situated along a...,3800.0,4460000.0,2.0,Apartment,Pal Gam,Surat,Resale,5.0,13.0
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700,Ready to Move,6 out of 14,Unfurnished,East,2 BHK Flat For sell IN Jahangirabad Prime Loca...,3966.0,4700000.0,2.0,Apartment,Jahangirabad,Surat,New Property,6.0,14.0
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250,Ready to Move,Unfurnished,Unfurnished,NaN,"Multistorey Apartment for Sale in Palanpur, Su...",3600.0,4500000.0,2.0,Apartment,"Orchid Fantasia, Palanpur",Surat,New Property,NaN,NaN

## Standardized Furnishing

In [ ]:
print(gdf['furnishing'].unique())

['Unfurnished' 'Semi-Furnished' 'Furnished' nan]

In [ ]:
valid_floor_values = ['Unfurnished', 'Semi-Furnished', 'Furnished']

# Function to map the value from floor to furnishing if furnishing has an invalid value
def map_furnishing_from_floor(row):
    if row['floor'] in valid_floor_values and row['furnishing'] not in valid_floor_values:
        return row['floor']  # Map the value from 'floor' to 'furnishing'
    return row['furnishing']  # Otherwise, keep the original value in 'furnishing'

# Apply the function to the 'furnishing' column
gdf['furnishing'] = gdf.apply(map_furnishing_from_floor, axis=1)

# Display the updated DataFrame
print(gdf)

                                          property_name areaWithType  \
0             2 BHK Apartment for Sale in Dindoli Surat  Carpet Area
1              2 BHK Apartment for Sale in Althan Surat   Super Area
2             2 BHK Apartment for Sale in Pal Gam Surat   Super Area
3        2 BHK Apartment for Sale in Jahangirabad Surat  Carpet Area
4     2 BHK Apartment for Sale in Orchid Fantasia, P...   Super Area
...                                                 ...          ...
4520  6 BHK Apartment for Sale in Millionaires Lifes...  Carpet Area
4521  4 BHK Apartment for Sale in Savan Superia, Alt...   Super Area
4522  5 BHK Apartment for Sale in Roongta Green Vall...  Carpet Area
4523  6 BHK Apartment for Sale in Cellestial Dreams,...  Carpet Area
4524  4 BHK Apartment for Sale in Roongta Green Vall...   Super Area

      square_feet              status        floor      furnishing  \
0             644  Under Construction  5 out of 10     Unfurnished
1            1278  Under Construction  6 out of 14     Unfurnished
2            1173       Ready to Move  5 out of 13  Semi-Furnished
3             700       Ready to Move  6 out of 14     Unfurnished
4            1250       Ready to Move  Unfurnished     Unfurnished
...           ...                 ...          ...             ...
4520         2000  Under Construction  5 out of 12     Unfurnished
4521         3600  Under Construction  5 out of 16     Unfurnished
4522         2250  Under Construction  7 out of 13     Unfurnished
4523         3450       Ready to Move  7 out of 18     Unfurnished
4524         4500       Ready to Move  3 out of 12     Unfurnished

            facing                                        description  \
0             West  Luxury project with basement parking, Solar ro...
1     South - West  2 And 3 BHK Luxurious Flat for Sell In New Alt...
2             East  This affordable 2 BHK flat is situated along a...
3             East  2 BHK Flat For sell IN Jahangirabad Prime Loca...
4              NaN  Multistorey Apartment for Sale in Palanpur, Su...
...            ...                                                ...
4520  South - East  Check out Millionaires Lifestyle in Vesu, one ...
4521  South - East  Superia is a premium residential project launc...
4522  North - East  When it comes to beautiful homes, nothing beat...
4523  North - West  DRB Ravani Cellestial Dreams in Vesu, Surat is...
4524         North  Roongta Green Valley is one of the popular res...

      price_per_sqft      price  bhk property_type  \
0             2891.0  3380000.0  2.0     Apartment
1             3551.0  4540000.0  2.0     Apartment
2             3800.0  4460000.0  2.0     Apartment
3             3966.0  4700000.0  2.0     Apartment
4             3600.0  4500000.0  2.0     Apartment
...              ...        ...  ...           ...
4520             0.0        0.0  6.0     Apartment
4521             0.0        0.0  4.0     Apartment
4522             0.0        0.0  5.0     Apartment
4523             0.0        0.0  6.0     Apartment
4524             0.0        0.0  4.0     Apartment

                          locality   city transaction_standardized  \
0                          Dindoli  Surat             New Property
1                           Althan  Surat             New Property
2                          Pal Gam  Surat                   Resale
3                     Jahangirabad  Surat             New Property
4        Orchid Fantasia, Palanpur  Surat             New Property
...                            ...    ...                      ...
4520  Millionaires Lifestyle, Vesu  Surat             New Property
4521         Savan Superia, Althan  Surat             New Property
4522    Roongta Green Valley, Vesu  Surat             New Property
4523       Cellestial Dreams, Vesu  Surat             New Property
4524    Roongta Green Valley, Vesu  Surat             New Property

      floor_number  total_floors
0              5.0          10.0
1              6.0          14.0
2              5.0          13.0
3              6.0          14.0
4              NaN           NaN
...            ...           ...
4520           5.0          12.0
4521           5.0          16.0
4522           7.0          13.0
4523           7.0          18.0
4524           3.0          12.0

[4524 rows x 17 columns]

In [ ]:
furnishing_map = {
    'Unfurnished': 'Unfurnished',
    'Semi-Furnished': 'Semi-Furnished',
    'Furnished': 'Fully Furnished',
    None: None
}

gdf['furnishing_standardized'] = gdf['furnishing'].map(furnishing_map)

In [ ]:

df['furnishing_standardized'] = df['furnishing'].map(furnishing_map)

## Standardized Facing Direcion

In [ ]:
print(gdf['facing'].unique())

['West' 'South - West' 'East' nan 'North - East' 'South - East'
 'North - West' 'South' 'North']

In [ ]:
def standardize_facing_direction(direction):
    if isinstance(direction, str):
        if ' - ' in direction:
            directions = direction.split(' - ')
            return directions[0]
        else:
            return direction  # Keep as it is if no '-'
    return None

gdf['facing_standardized'] = gdf['facing'].apply(standardize_facing_direction)

## Locaion Standardizaion

In [ ]:
gdf.head()

,property_name,areaWithType,square_feet,status,floor,furnishing,facing,description,price_per_sqft,price,bhk,property_type,locality,city,transaction_standardized,floor_number,total_floors,furnishing_standardized,facing_standardized
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644,Under Construction,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...",2891.0,3380000.0,2.0,Apartment,Dindoli,Surat,New Property,5.0,10.0,Unfurnished,West
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278,Under Construction,6 out of 14,Unfurnished,South - West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,3551.0,4540000.0,2.0,Apartment,Althan,Surat,New Property,6.0,14.0,Unfurnished,South
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173,Ready to Move,5 out of 13,Semi-Furnished,East,This affordable 2 BHK flat is situated along a...,3800.0,4460000.0,2.0,Apartment,Pal Gam,Surat,Resale,5.0,13.0,Semi-Furnished,East
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700,Ready to Move,6 out of 14,Unfurnished,East,2 BHK Flat For sell IN Jahangirabad Prime Loca...,3966.0,4700000.0,2.0,Apartment,Jahangirabad,Surat,New Property,6.0,14.0,Unfurnished,East
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250,Ready to Move,Unfurnished,Unfurnished,NaN,"Multistorey Apartment for Sale in Palanpur, Su...",3600.0,4500000.0,2.0,Apartment,"Orchid Fantasia, Palanpur",Surat,New Property,NaN,NaN,Unfurnished,None

In [ ]:
gdf['locality'].unique()

array(['Dindoli', 'Althan', 'Pal Gam', ..., 'KPM Terra Prime, Piplod',
       'Milestone Palacio, Athwa', 'D and M Elysium Avenue, Piplod'],
      dtype=object)

In [ ]:
gdf['location'] = gdf['locality']

In [ ]:
def extract_locality_city(property_name):
    if pd.isna(property_name):
        return None

    property_name = property_name.replace('for Sale', '').strip()

    if ' in ' in property_name:
        _, location_part = property_name.split(' in ', 1)
    else:
        location_part = property_name

    if ',' in location_part:
        parts = location_part.split(',')
        locality = parts[-1].replace('Surat', '').strip()
    else:
        locality = location_part.replace('Surat', '').strip()

    if locality:
        return f"{locality}, Surat"
    else:
        return None

gdf['location_Standardizaion'] = gdf['property_name'].apply(extract_locality_city)

In [ ]:
gdf.head()

,property_name,areaWithType,square_feet,status,floor,furnishing,facing,description,price_per_sqft,price,...,property_type,locality,city,transaction_standardized,floor_number,total_floors,furnishing_standardized,facing_standardized,location,location_Standardizaion
0,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644,Under Construction,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...",2891.0,3380000.0,...,Apartment,Dindoli,Surat,New Property,5.0,10.0,Unfurnished,West,Dindoli,"Dindoli, Surat"
1,2 BHK Apartment for Sale in Althan Surat,Super Area,1278,Under Construction,6 out of 14,Unfurnished,South - West,2 And 3 BHK Luxurious Flat for Sell In New Alt...,3551.0,4540000.0,...,Apartment,Althan,Surat,New Property,6.0,14.0,Unfurnished,South,Althan,"Althan, Surat"
2,2 BHK Apartment for Sale in Pal Gam Surat,Super Area,1173,Ready to Move,5 out of 13,Semi-Furnished,East,This affordable 2 BHK flat is situated along a...,3800.0,4460000.0,...,Apartment,Pal Gam,Surat,Resale,5.0,13.0,Semi-Furnished,East,Pal Gam,"Pal Gam, Surat"
3,2 BHK Apartment for Sale in Jahangirabad Surat,Carpet Area,700,Ready to Move,6 out of 14,Unfurnished,East,2 BHK Flat For sell IN Jahangirabad Prime Loca...,3966.0,4700000.0,...,Apartment,Jahangirabad,Surat,New Property,6.0,14.0,Unfurnished,East,Jahangirabad,"Jahangirabad, Surat"
4,"2 BHK Apartment for Sale in Orchid Fantasia, P...",Super Area,1250,Ready to Move,Unfurnished,Unfurnished,NaN,"Multistorey Apartment for Sale in Palanpur, Su...",3600.0,4500000.0,...,Apartment,"Orchid Fantasia, Palanpur",Surat,New Property,NaN,NaN,Unfurnished,None,"Orchid Fantasia, Palanpur","Palanpur, Surat"

## Price per Sqft Category

In [ ]:
# Only fill where price_per_sqft is missing
mask_missing = gdf['price_per_sqft'].isna()

# Calculate price_per_sqft as price divided by square_feet
gdf.loc[mask_missing, 'price_per_sqft'] = gdf.loc[mask_missing, 'price'] / gdf.loc[mask_missing, 'square_feet']

In [ ]:
print(f"Number of price_per_sqft filled: {mask_missing.sum()}")

Number of price_per_sqft filled: 0

In [ ]:
print(gdf['price_per_sqft'].unique())

[2891. 3551. 3800. ... 8512. 8200. 5756.]

In [ ]:
def categorize_price(price):
    if pd.isna(price):
        return None
    if price < 3000:
        return 'Budget'
    elif 3000 <= price <= 6000:
        return 'Mid-Range'
    else:
        return 'Luxury'

gdf['price_category'] = gdf['price_per_sqft'].apply(categorize_price)

In [ ]:
gdf["price_category"].unique()

array(['Budget', 'Mid-Range', 'Luxury'], dtype=object)

# Gold Layer Data Model

In [ ]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4524 entries, 0 to 4524
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   property_name             4524 non-null   object
 1   areaWithType              4270 non-null   object
 2   square_feet               4524 non-null   int64
 3   status                    4524 non-null   object
 4   floor                     4524 non-null   object
 5   furnishing                3993 non-null   object
 6   facing                    2382 non-null   object
 7   description               3154 non-null   object
 8   price_per_sqft            4524 non-null   float64
 9   price                     4524 non-null   float64
 10  bhk                       3889 non-null   float64
 11  property_type             3889 non-null   object
 12  locality                  4524 non-null   object
 13  city                      4524 non-null   object
 14  transaction_standardized  4498 non-null   object
 15  floor_number              3754 non-null   float64
 16  total_floors              3754 non-null   float64
 17  furnishing_standardized   3993 non-null   object
 18  facing_standardized       2382 non-null   object
 19  location                  4524 non-null   object
 20  location_Standardizaion   4476 non-null   object
 21  price_category            4524 non-null   object
dtypes: float64(5), int64(1), object(16)
memory usage: 941.9+ KB

In [ ]:
gdf.drop(columns=['floor' ,'furnishing' , 'locality' , 'facing' ], inplace=True)

In [ ]:
print(gdf.isna().sum())

property_name                  0
areaWithType                 254
square_feet                    0
status                         0
description                 1370
price_per_sqft                 0
price                          0
bhk                          635
property_type                635
city                           0
transaction_standardized      26
floor_number                 770
total_floors                 770
furnishing_standardized      531
facing_standardized         2142
location                       0
location_Standardizaion       48
price_category                 0
dtype: int64

In [ ]:
# Drop rows where price or square_feet are missing if i dant have prive so i dont have the info to sell it
gdf = gdf.dropna(subset=['price', 'square_feet'])

In [ ]:
print(gdf.isna().sum())

property_name                  0
areaWithType                 254
square_feet                    0
status                         0
description                 1370
price_per_sqft                 0
price                          0
bhk                          635
property_type                635
city                           0
transaction_standardized      26
floor_number                 770
total_floors                 770
furnishing_standardized      531
facing_standardized         2142
location                       0
location_Standardizaion       48
price_category                 0
dtype: int64

In [ ]:
df[['description']].head(10)

                                         description
0  Luxury project with basement parking, Solar ro...
1  2 And 3 BHK Luxurious Flat for Sell In New Alt...
2  This affordable 2 BHK flat is situated along a...
3  2 BHK Flat For sell IN Jahangirabad Prime Loca...
4  Multistorey Apartment for Sale in Palanpur, Su...
5  Multistorey Apartment for Sale in Jahangirabad...
6                                        contraction
7  best commercial for business ,investors ,busin...
8  Multistorey Apartment for Sale in Palanpur, Su...
9  Irrespective of the business branch, the our g...

In [ ]:
def safe_string(value):
    return str(value) if isinstance(value, str) else ""

# Function to extract BHK from description
def extract_bhk(description):
    description = safe_string(description)
    match = re.search(r'(\d+)\s*BHK', description)
    if match:
        return match.group(1)
    return None

# Function to extract property type
def extract_property_type(description):
    description = safe_string(description)
    if "Apartment" in description:
        return "Apartment"
    elif "Villa" in description:
        return "Villa"
    elif "Plot" in description:
        return "Plot"
    return None

# Function to extract furnishing type
def extract_furnishing(description):
    description = safe_string(description)
    if "Furnished" in description:
        return "Furnished"
    elif "Semi-Furnished" in description:
        return "Semi-Furnished"
    elif "Unfurnished" in description:
        return "Unfurnished"
    return None

# Function to extract transaction status
def extract_transaction(description):
    description = safe_string(description)
    if "for Sale" in description or "available for sale" in description:
        return "For Sale"
    elif "sold" in description:
        return "Sold"
    elif "rent" in description:
        return "For Rent"
    return None

# Fill NaN values in each column using the appropriate extraction function
gdf['bhk'] = gdf['bhk'].combine_first(gdf['description'].apply(extract_bhk))
gdf['property_type'] = gdf['property_type'].combine_first(gdf['description'].apply(extract_property_type))
gdf['furnishing_standardized'] = gdf['furnishing_standardized'].combine_first(gdf['description'].apply(extract_furnishing))
gdf['transaction_standardized'] = gdf['transaction_standardized'].combine_first(gdf['description'].apply(extract_transaction))

# Check NaN values count after filling
print(gdf.isna().sum())
print(gdf)

property_name                  0
areaWithType                 254
square_feet                    0
status                         0
description                 1370
price_per_sqft                 0
price                          0
bhk                          634
property_type                592
city                           0
transaction_standardized      19
floor_number                 770
total_floors                 770
furnishing_standardized      531
facing_standardized         2142
location                       0
location_Standardizaion       48
price_category                 0
dtype: int64
                                          property_name areaWithType  \
0             2 BHK Apartment for Sale in Dindoli Surat  Carpet Area
1              2 BHK Apartment for Sale in Althan Surat   Super Area
2             2 BHK Apartment for Sale in Pal Gam Surat   Super Area
3        2 BHK Apartment for Sale in Jahangirabad Surat  Carpet Area
4     2 BHK Apartment for Sale in Orchid Fantasia, P...   Super Area
...                                                 ...          ...
4520  6 BHK Apartment for Sale in Millionaires Lifes...  Carpet Area
4521  4 BHK Apartment for Sale in Savan Superia, Alt...   Super Area
4522  5 BHK Apartment for Sale in Roongta Green Vall...  Carpet Area
4523  6 BHK Apartment for Sale in Cellestial Dreams,...  Carpet Area
4524  4 BHK Apartment for Sale in Roongta Green Vall...   Super Area

      square_feet              status  \
0             644  Under Construction
1            1278  Under Construction
2            1173       Ready to Move
3             700       Ready to Move
4            1250       Ready to Move
...           ...                 ...
4520         2000  Under Construction
4521         3600  Under Construction
4522         2250  Under Construction
4523         3450       Ready to Move
4524         4500       Ready to Move

                                            description  price_per_sqft  \
0     Luxury project with basement parking, Solar ro...          2891.0
1     2 And 3 BHK Luxurious Flat for Sell In New Alt...          3551.0
2     This affordable 2 BHK flat is situated along a...          3800.0
3     2 BHK Flat For sell IN Jahangirabad Prime Loca...          3966.0
4     Multistorey Apartment for Sale in Palanpur, Su...          3600.0
...                                                 ...             ...
4520  Check out Millionaires Lifestyle in Vesu, one ...             0.0
4521  Superia is a premium residential project launc...             0.0
4522  When it comes to beautiful homes, nothing beat...             0.0
4523  DRB Ravani Cellestial Dreams in Vesu, Surat is...             0.0
4524  Roongta Green Valley is one of the popular res...             0.0

          price  bhk property_type   city transaction_standardized  \
0     3380000.0  2.0     Apartment  Surat             New Property
1     4540000.0  2.0     Apartment  Surat             New Property
2     4460000.0  2.0     Apartment  Surat                   Resale
3     4700000.0  2.0     Apartment  Surat             New Property
4     4500000.0  2.0     Apartment  Surat             New Property
...         ...  ...           ...    ...                      ...
4520        0.0  6.0     Apartment  Surat             New Property
4521        0.0  4.0     Apartment  Surat             New Property
4522        0.0  5.0     Apartment  Surat             New Property
4523        0.0  6.0     Apartment  Surat             New Property
4524        0.0  4.0     Apartment  Surat             New Property

      floor_number  total_floors furnishing_standardized facing_standardized  \
0              5.0          10.0             Unfurnished                West
1              6.0          14.0             Unfurnished               South
2              5.0          13.0          Semi-Furnished                East
3              6.0          14.0             Unfurnished                East
4              NaN           NaN             Unfurnished                None
...            ...           ...                     ...                 ...
4520           5.0          12.0             Unfurnished               South
4521           5.0          16.0             Unfurnished               South
4522           7.0          13.0             Unfurnished               North
4523           7.0          18.0             Unfurnished               North
4524           3.0          12.0             Unfurnished               North

                          location location_Standardizaion price_category
0                          Dindoli          Dindoli, Surat         Budget
1                           Althan           Althan, Surat      Mid-Range
2                          Pal Gam          Pal Gam, Surat      Mid-Range
3                     Jahangirabad     Jahangirabad, Surat      Mid-Range
4        Orchid Fantasia, Palanpur         Palanpur, Surat      Mid-Range
...                            ...                     ...            ...
4520  Millionaires Lifestyle, Vesu             Vesu, Surat         Budget
4521         Savan Superia, Althan           Althan, Surat         Budget
4522    Roongta Green Valley, Vesu             Vesu, Surat         Budget
4523       Cellestial Dreams, Vesu             Vesu, Surat         Budget
4524    Roongta Green Valley, Vesu             Vesu, Surat         Budget

[4524 rows x 18 columns]

In [ ]:
len(gdf['property_name'].unique())

1991

## property_id

In [ ]:
gdf['property_id'] = [str(uuid.uuid4()) for _ in range(len(gdf))]

## property_name

In [ ]:
gdf["property_name"].unique()

array(['2 BHK Apartment for Sale in Dindoli Surat',
       '2 BHK Apartment for Sale in Althan Surat',
       '2 BHK Apartment for Sale in Pal Gam Surat', ...,
       '5 BHK Apartment for Sale in Sangini Arise, Bharthana Surat',
       '5 BHK Apartment for Sale in D and M Elysium Avenue, Piplod Surat',
       '6 BHK Apartment for Sale in Millionaires Lifestyle, Vesu Surat'],
      dtype=object)

In [ ]:
def standardize_property_name(name):
    if pd.isna(name):
        return name  # leave NaNs as is
    name = name.strip()            # Remove leading/trailing spaces
    name = ' '.join(name.split())  # Remove extra spaces between words
    name = name.title()            # Make Title Case (First Letter Capital)
    return name

gdf['property_name'] = gdf['property_name'].apply(standardize_property_name)

## locaion

In [ ]:
def extract_location(property_name):
    if pd.isna(property_name):
        return None

    match = re.search(r'in (.+)', property_name, re.IGNORECASE)
    if match:
        location_part = match.group(1).strip()
        return location_part
    else:
        return None

gdf['location'] = gdf['property_name'].apply(extract_location)

In [ ]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4524 entries, 0 to 4524
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   property_name             4524 non-null   object
 1   areaWithType              4270 non-null   object
 2   square_feet               4524 non-null   int64
 3   status                    4524 non-null   object
 4   description               3154 non-null   object
 5   price_per_sqft            4524 non-null   float64
 6   price                     4524 non-null   float64
 7   bhk                       3890 non-null   object
 8   property_type             3932 non-null   object
 9   city                      4524 non-null   object
 10  transaction_standardized  4505 non-null   object
 11  floor_number              3754 non-null   float64
 12  total_floors              3754 non-null   float64
 13  furnishing_standardized   3993 non-null   object
 14  facing_standardized       2382 non-null   object
 15  location                  4524 non-null   object
 16  location_Standardizaion   4476 non-null   object
 17  price_category            4524 non-null   object
 18  property_id               4524 non-null   object
dtypes: float64(4), int64(1), object(14)
memory usage: 835.9+ KB

## square_feet

In [ ]:
gdf['square_feet'] = gdf['square_feet'].astype('Int64')

## areaWithType

In [ ]:
gdf['areaWithType'].unique()

array(['Carpet Area', 'Super Area', nan], dtype=object)

## transaction_type

In [ ]:
gdf['transaction'] = gdf['transaction_standardized']

In [ ]:
gdf['transaction'].unique()

array(['New Property', 'Resale', 'For Sale', None], dtype=object)

## status

In [ ]:
gdf['status'].unique()

array(['Under Construction', 'Ready to Move', '1 out of 7', '21 X 50.2',
       '3 out of 10', '120 X 105', '3 out of 7', '36 X 15', '2',
       '3 out of 3', '52.5 X 32.1', '3 out of 5', '5 out of 5',
       '12 X 35.92', '13 out of 14', '7.29 X 14', '4 out of 5',
       'Ground out of 1', '3 out of 4', 'Ground out of 10',
       'Ground out of 2', '20 X 40', '16.4 X 60', '11 out of 14',
       '9.42 X 126', '25 X 12', '2 out of 4', '54 X 15', '21 X 57',
       '26.7 X 55.6', '41 X 20', '5 out of 13', '36 X 21', '19.2 X 54.8',
       '8 out of 14', '26.7 X 54.9', '38 X 21', '2 out of 13', '135 X 75',
       '38 X 20', '114 X 60', '45 X 40', '40 X 21', '37 X 26',
       '180 X 22.5', '4 out of 14', '114 X 14', '285 X 51', '8 out of 10',
       '6 out of 11', 'Ground out of 5', '10 out of 11', '5 out of 14',
       '60 X 28', '37 X 20', '13.3 X 135', '9 out of 11', '48 X 14',
       '45.5 X 21.56', '60 X 120', '8 out of 13', '7 out of 13',
       '4.55 X 20', '9 out of 13', '16.7 X 240', '7 out of 14',
       '9 out of 14', '3 out of 13', '40 X 20', '92 X 12', '4 out of 12',
       '39.6 X 20', '120 X 60', '138 X 63', '120 X 63', '126 X 66',
       '1 out of 12', '52.5 X 26.1', '55 X 22', '2 out of 12', '180 X 45',
       '31 X 41', '46 X 46.17', '12 out of 12', '110 X 27.27',
       '73.7 X 53.1', '4 out of 11', '144 X 126', '4 out of 9',
       '240 X 180', '1200 X 3', '144 X 105'], dtype=object)

In [ ]:
valid_statuses = ['Under Construction', 'Ready to Move']

# Update 'status' column
gdf['status'] = gdf['status'].apply(lambda x: x if x in valid_statuses else np.nan)

# Check the unique values in the 'status' column
print(gdf['status'].unique())

['Under Construction' 'Ready to Move' nan]

## floor_number

In [ ]:
gdf['floor_number'].unique()

array([ 5.,  6., nan,  7.,  3.,  1.,  4.,  2.,  0.,  9., 12., 10., 13.,
        8., 14., 16., 11., 15., 18., 20., 17., 19.])

## total_floors

In [ ]:
gdf['total_floors'].unique()

array([10., 14., 13., nan,  1.,  7.,  3.,  6.,  5., 12.,  2.,  4.,  9.,
        8., 11.,  0., 19., 15., 30., 20., 21., 18., 16., 17., 25.])

## furnishing

In [ ]:
gdf['furnishing'] = gdf['furnishing_standardized']

In [ ]:
gdf['furnishing'].unique()

array(['Unfurnished', 'Semi-Furnished', 'Fully Furnished', None],
      dtype=object)

## facing

In [ ]:
gdf['facing'] = gdf['facing_standardized']

In [ ]:
gdf['facing'].unique()

array(['West', 'South', 'East', None, 'North'], dtype=object)

## price_per_sqft

In [ ]:
gdf['price_per_sqft'].unique()

array([2891., 3551., 3800., ..., 8512., 8200., 5756.])

## price

In [ ]:
gdf['price'].unique()

array([ 3380000.,  4540000.,  4460000.,  4700000.,  4500000.,  4320000.,
        4210000.,  4410000.,  4430000.,  4000000.,  4400000.,  1250000.,
        5000000.,  3580000.,  2650000.,  4200000.,  4300000.,  2000000.,
        3700000.,  2900000.,  3800000.,  1300000.,  4650000.,  4160000.,
        3350000.,  4250000.,  4800000.,  3200000.,  3500000.,  4620000.,
        3850000.,  2300000.,  2400000.,  2800000.,  3570000.,  3650000.,
        3600000.,  4360000.,  2500000.,  4100000.,  2850000.,   900000.,
        3000000.,  3950000.,  2150000.,  1050000.,  1800000.,  1000000.,
        2350000.,  1630000.,  1350000.,  4900000.,  2100000.,  3900000.,
        1600000.,  2700000.,  1500000.,  3990000.,   750000.,  1280000.,
         950000.,  3150000.,  4600000.,   600000.,  3400000.,  2200000.,
        1900000.,   850000.,  1100000.,  1650000.,  1700000.,  1400000.,
        3300000.,  2050000.,  2170000.,  2750000.,  1200000.,  2600000.,
         770000.,  4480000.,  3490000.,  1950000.,  1850000.,  4850000.,
        4990000.,  2670000.,  1820000.,  2450000.,  4610000.,  1420000.,
        4750000.,   930000.,   500000.,   890000.,  1450000.,  3760000.,
        2550000.,  2950000.,   150000.,  2680000.,  3100000.,  2250000.,
        2490000.,  4040000.,  1530000.,   700000.,  3250000.,   100000.,
        4380000.,  1440000.,  1030000.,  4050000.,  3480000.,  3980000.,
        2580000.,   350000.,  2130000.,   800000.,  3810000.,  1550000.,
        2510000.,  3790000.,  2910000.,   130000.,  1840000.,  1410000.,
        2990000.,  4520000.,  3750000.,  3270000.,  1750000.,  4880000.,
        2320000.,   450000.,  2520000.,  2720000.,        0.,  3970000.,
        4370000.,  4950000.,   200000.,  4690000.,  1980000.,  2690000.,
        2160000.,  3390000.,  3470000.,  4450000.,  4130000.,  4860000.,
        4550000.,  4930000.,  4310000.,  4640000.,  4220000.,  3450000.,
        2820000.,  4280000.,  4530000.,  3440000.,  3050000.,  4420000.,
        4820000.,  4970000.,  4780000.,  3460000.,  4910000.,  3530000.,
        4510000.,  4150000.,  2640000.,  3720000.,  4630000.,  3040000.,
        4710000.,  4170000.,  3340000.,  4070000.,  3680000.,  4270000.,
        3060000.,  4340000.,  3870000.,  3320000.,  3430000.,  3920000.,
        4390000.,  3520000.,  3160000.,  4110000.,  4490000.,  2590000.,
        4230000.,  2530000.,  3610000.,  2570000.,  4560000.,  3510000.,
        3640000.,  4240000.,  4670000.,  2010000.,  3410000.,  1640000.,
        4350000.,  1990000.,  3820000.,  3550000.,  6770000.,  5560000.,
        9800000.,  6220000.,  6940000.,  7000000.,  5650000.,  5740000.,
        9290000.,  5710000.,  5570000.,  7910000.,  6520000.,  8050000.,
        9000000.,  7500000.,  5200000.,  7540000.,  7450000.,  6930000.,
        6000000.,  6750000.,  5150000.,  6740000.,  5500000.,  5030000.,
        6630000.,  8000000.,  5060000.,  6100000.,  5100000.,  5080000.,
        7900000.,  9100000.,  8450000.,  5400000.,  5320000.,  5240000.,
        7200000.,  9900000.,  5600000.,  8500000.,  8310000.,  5190000.,
        5700000.,  8100000.,  7400000.,  7850000.,  6500000.,  6610000.,
        6800000.,  5800000.,  8600000.,  5350000.,  8300000.,  8200000.,
        9500000.,  7800000.,  7250000.,  6660000.,  5170000.,  9070000.,
        8400000.,  7550000.,  6300000.,  5300000.,  9180000.,  5850000.,
        5550000.,  7700000.,  8800000.,  6200000.,  9700000.,  6380000.,
        9740000.,  9200000.,  6700000.,  7100000.,  8700000.,  7870000.,
        5010000.,  5040000.,  6830000.,  9950000.,  7600000.,  5950000.,
        9600000.,  9980000.,  5680000.,  7940000.,  9300000.,  8900000.,
        5450000.,  9650000.,  8540000.,  7920000.,  9400000.,  5820000.,
        5990000.,  6160000.,  6050000.,  8250000.,  7570000.,  5620000.,
        9960000.,  5880000.,  5920000.,  7440000.,  5610000.,  8670000.,
        5310000.,  9080000.,  5050000.,  7530000.,  5900000.,  5840000.,
        8510000.,  7990000.,  6820000.,  5180000.,  6440000.,  6400000.,
        5640000.,  7620000., 10000000.,  8850000.,  9810000.,  7660000.,
        8740000.,  7150000.,  8470000.,  6020000.,  6460000.,  8030000.,
        8970000.,  6600000.,  6730000.,  7640000.,  7300000.,  7780000.,
        7680000.,  8650000.,  6280000.,  9430000.,  9480000.,  7190000.,
        7210000.,  8480000.,  9520000.,  6350000.,  9830000.,  6560000.,
        5250000.,  6250000.,  6580000.,  5090000.,  7490000.,  7930000.,
        8550000.,  6540000.,  7590000.,  5530000.,  7060000.,  9350000.,
        6090000.,  9150000.,  5940000.,  8610000.,  6170000.,  8980000.,
        8860000.,  6780000.,  6470000.,  9050000.,  6790000.,  5160000.,
        7710000.,  6240000.,  7410000.,  5810000.,  5870000.,  6900000.,
        9360000.,  5750000.,  8290000.,  8350000.,  7970000.,  9040000.,
        7030000.,  5460000.,  5670000.,  9550000.,  5260000.,  7650000.,
        6960000.,  8160000.,  9450000.,  7310000.,  7170000.,  7510000.,
        5540000.,  8890000.,  8880000.,  7750000.,  5970000.,  8940000.,
        5980000.,  6370000.,  8210000.,  6190000.,  9240000.,  7390000.,
        5110000.,  6150000.,  6590000.,  7040000.,  5660000.,  6290000.,
        8380000.,  9280000.,  8460000.,  5910000.,  7820000.,  6420000.,
        6920000.,  9470000.,  5830000.,  7070000.,  9760000.,  7580000.,
        5120000.,  8690000.,  6840000.,  7280000.,  5720000.,  9060000.,
        6550000.,  8080000.,  6210000.,  6950000.,  9250000.,  6230000.,
        8280000.,  6080000.,  7110000.,  6430000.,  8630000.,  6040000.,
        7980000.,  5280000.,  6120000.,  6030000.,  7770000.,  5360000.,
        7080000.,  8810000.,  6890000.,  7240000.,  8560000.,  7260000.,
        9770000.,  5270000.,  8490000.,  9860000.,  7890000.,  7220000.,
        9840000.,  6260000.,  5510000.,  5210000.,  9990000.,  7630000.,
        9560000.,  6510000.,  8140000.,  7420000.,  6530000.,  9230000.,
        6060000.,  7690000.,  7810000.,  5130000.,  6330000.,  5420000.,
        9750000.,  9930000.,  5480000.,  7340000.,  6410000.,  6390000.,
        7350000.,  6650000.,  8750000.,  8020000.,  7730000.,  7020000.,
        6970000.,  5960000.,  8370000.,  7180000.,  6570000.,  7880000.,
        8340000.,  5890000.,  6130000.])

## price_category

In [ ]:
gdf['price_category'].unique()

array(['Budget', 'Mid-Range', 'Luxury'], dtype=object)

In [ ]:
gdf.drop(columns=['location_Standardizaion' , 'city' , 'furnishing', 'description'], inplace=True ,axis= 1)

In [ ]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4524 entries, 0 to 4524
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   property_name             4524 non-null   object
 1   areaWithType              4270 non-null   object
 2   square_feet               4524 non-null   Int64
 3   status                    4400 non-null   object
 4   price_per_sqft            4524 non-null   float64
 5   price                     4524 non-null   float64
 6   bhk                       3890 non-null   object
 7   property_type             3932 non-null   object
 8   transaction_standardized  4505 non-null   object
 9   floor_number              3754 non-null   float64
 10  total_floors              3754 non-null   float64
 11  furnishing_standardized   3993 non-null   object
 12  facing_standardized       2382 non-null   object
 13  location                  4524 non-null   object
 14  price_category            4524 non-null   object
 15  property_id               4524 non-null   object
 16  transaction               4505 non-null   object
 17  facing                    2382 non-null   object
dtypes: Int64(1), float64(4), object(13)
memory usage: 805.0+ KB